<form #search="ngForm">
    <mat-form-field class="searching-filter" appearance="standard">
        <mat-label class="search">{{'table.search' | translate}}</mat-label>
        <input matInput type="text" ngModel name="searchText" autocomplete="off"
            (keyup)="keyup(search.value.searchText)" />
        <mat-icon matSuffix><i class="fa fa-search fa-lg" aria-hidden="true"></i></mat-icon>
    </mat-form-field>
</form>

<div class="row" style="margin-left: 2%">
    <div *ngFor="let expert of experts | expertfilter : searchText" class="col-md-4">
        <app-expert-short-card [expert]="expert"></app-expert-short-card>
    </div>
</div>