.add-button {
  margin-top: 15%;
  border-radius: 25px;
  border: 1px solid #009879;
  background-color: #009879;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.add-button:hover{
    border: 1px solid #00ecb0;
  background-color: #00d6a0;
}
h1{
  text-align: center;
}
.icon-button{
  padding: 5%;
  margin: 2%;
}
.icon-button:hover{
  border: 1px solid #009879;
  border-radius: 5px;
}

.grouping {
  display: none;
}

.loading-content{
  display: none;
}
.loaded-content{
  display: contents;
}
.display-spinner{
  display: contents;
}
.hidden-spinner{
  display: none;
}
.divider {
	position: relative;
	margin-top: 2%;
	height: 1px;
	content: "";
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
  background-color: transparent;
	background-image: linear-gradient(to right, transparent, rgb(0, 0, 0), transparent);
}
.divider-arrow{
  position: relative;
  margin-top: 0;
  height: 1px;
  content: "";
  z-index: 1;
  top: 0;
  left: calc(50% - 7px);
  width: 23px;
  height: 23px;
  transform: rotate(45deg);
  background-color: #ffffff00;
  border-bottom: 2px solid rgb(0 0 0);
  border-right: 2px solid rgb(0 0 0);
}


@media only screen and (max-width: 765px) {
	.collective{
    display: none;
	}
  .grouping{
    display: block;
  }
}