<mat-sidenav-container class="bodyContainer">
    <!-- Inside of the sidebar -->

    <mat-sidenav class="sidebar" [ngClass]="opened ? 'sideBarOpen' : 'sideBarClose'" #sidenav mode="side"
        [(opened)]="opened" opened>

        <div class="logo">
            <div>
                <p class="username">
                    {{name}}
                </p>
                <p class="username">
                    {{surname}}
                </p>
            </div>
            <a>

            </a>
        </div>
        <i class="fas fa-dumbbell fa-lg"></i>
        <ul class="nav">
            <div *ngIf="includesProf || includesPatient || includesAdmin ;">
                <li>
                    <a class="side-item" routerLink="/"><i class="fa fa-home fa-lg"
                            aria-hidden="true"></i>{{'menu.dashboard' | translate}}</a>
                </li>
            </div>
            <div *ngIf="includesProf || includesPatient || includesAdmin ;">
                <li><a class="side-item" routerLink="/profile"><i class="fa fa-user fa-lg"
                            aria-hidden="true"></i>{{'menu.profile' | translate}}</a></li>

            </div>
            <div *ngIf=" includesPatient  ;">

                <li><a class="side-item" routerLink="/eating-activity"><i class="fa fa-cutlery fa-lg"
                            aria-hidden="true"></i>{{'menu.food' | translate}}</a></li>
            </div>
            <div *ngIf="includesProf || includesPatient || includesAdmin ;">

                <li><a class="side-item" routerLink="/activity-list"><i class="fa fa-bicycle fa-lg"
                            aria-hidden="true"></i>{{'menu.activity' | translate}}</a></li>
            </div>
            <div *ngIf="includesProf;">

                <li><a class="side-item" routerLink="/patient-list"><i class="fa fa-users fa-lg"
                            aria-hidden="true"></i>{{'menu.patients' | translate}}</a></li>
            </div>
            <div *ngIf="includesProf || includesPatient || includesAdmin ;">

                <li><a class="side-item" routerLink="/food-list"><i class="fa fa-book fa-lg"
                            aria-hidden="true"></i>{{'menu.foodList' | translate}}</a></li>
            </div>
            <div *ngIf="includesPatient || includesAdmin ;">

                <li><a class="side-item" routerLink="/experts"><i class="fa fa-address-card fa-lg"
                            aria-hidden="true"></i>{{'menu.expert' | translate}}</a></li>
            </div>
            <div *ngIf="includesProf || includesPatient || includesAdmin ;">

                <li><a class="side-item" routerLink="/calendar"><i class="fa fa-calendar fa-lg"
                            aria-hidden="true"></i>{{'menu.calendar' | translate}}</a></li>
            </div>
            <div *ngIf="includesPatient">

                <li><a class="side-item" routerLink="/goals"><i class="fa fa-bullseye fa-lg"
                            aria-hidden="true"></i>{{'menu.goal' | translate}}</a></li>
            </div>
        </ul>
        <div class="language">
            <img (click)="changeLang('tr')" class="lang-button" src="../../assets/tr.png">
            <img (click)="changeLang('en')" class="lang-button" src="../../assets/en.png">
        </div>
    </mat-sidenav>

    <!-- Outside of the sidebar -->
    <mat-sidenav-content>
        <div class="layout">
            <div class="notscroll">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>