<p></p>
<div class="row counselee-short-info">
        <div class="col-3">
            <div class="counselee-img-div">

            <img class="counselee-profile-img" src = "../../../../assets/default-avatar.jpg">
            </div>
            <div class="counselee-name">
                <p >
                    {{userName}}
                </p>
            </div>
        </div>
            <hr class="line">
        <div class="col">
        
        <div class="row">
            <div class="col-4 ">
                Selam
            </div>
            <div class="col-4">
                Selam
            </div>
            <div class="col-4">
                Selam
            </div>
        </div>
        </div>
</div>
<div>

</div>