/* .bg{
	background-image: url(https://img.pngio.com/green-background-png-pictures-trzcacakrs-backgrounds-green-png-1920_1080.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	width:100%;
	height: 100%; 
} */

.bg{
	background: linear-gradient(to bottom,#00db93,#00b97d);
	width:100%;
	height: 100%;
}