
	 
		  <div class="container " style="margin: 0 auto;" id="container" [ngClass]=" flag ? 'right-panel-active' : ''">
	<div class="form-container sign-up-container ">
		<form action="#" class="" >
			<h1>Create Account</h1>
			<div class="alternate-logins">
				<a href="#" class="social-links"><i class="fa fa-facebook" style="font-size:12px;"></i></a>
				<a href="#" class="social-links"><i class="fa fa-google" style="font-size:12px;"></i></a>
			</div>
			<span>or use your email for registration</span>

			<div class="input-group">
				<input type="text" id="name" required>
				<span class="bar"></span>
				<label>Name</label>
			</div>

			<div class="input-group">
				<input type="text" id="surname" required>
				<span class="bar"></span>
				<label>Surname</label>
			</div>
			<div class="input-group">
				<input type="email" id="e-mail" required>
				<span class="bar"></span>
				<label>E-mail</label>
			</div>
			<div class="input-group">
				<input type="date" id="birthDate" required>
				<span class="bar"></span>
				<label>Birthdate</label>
			</div>
			
			<div class="input-group">
				<div class="selectList">
					<select name="Gender" id="gender">
						<option style="display: none;">Gender</option>
						<option value ="Male">Male</option>
						<option value ="Female">Female</option>
						<option value ="Unspecified">Unspecified</option>
					</select>
				</div>
			</div>
			
			<div class="input-group">
				<input type="password" id="password" required>
				<span class="bar"></span>
				<label>Password</label>
			</div>
			<div class="input-group">
				<input type="password" id="rePassword" required>
				<span class="bar"></span>
				<label>Password Again</label>
			</div>
			<div class="input-group">
				<input type="text" id="phoneNumber" required>
				<span class="bar"></span>
				<label>Phone Number</label>
			</div>

			<div class="Area">
				<div class="input-group">
					<input class="Box" type="number" id="height" required>
					<span class="bar"></span>
					<label>Height</label>
					<select name="Type" id="type">
						<option value ="cm">cm</option>
						<option value ="ft">ft</option>
					</select>	
				</div>
			</div>
			<div class="Area">
				<div class="input-group">
					<input class="Box" type="number" id="weight" required>
					<span class="bar"></span>
					<label>Weight</label>
				
				<select name="Type" id="type">
					<option value ="kg">kg</option>
					<option value ="lb">lb</option>
				</select>
			</div>
			</div> 
			<input type="checkbox"> tos
			<input type="checkbox"> priv

			<button class = "signUpButton" >Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Sign in</h1>
			<div class="alternate-logins">
				<a href="#" class="social-links"><i class="fa fa-facebook" style="font-size:12px;"></i></a>
				<a href="#" class="social-links"><i class="fa fa-google" style="font-size:12px;"></i></a>
			</div>
			<span>or use your account</span>
			<div class="input-group">
				<input type="email" required>
				<label>E-mail</label>
			  </div>
			  <div class="input-group">
				<input type="password" required>
				<label>Password</label>
			</div>

			<div  class="input-group">
				<input  type="checkbox" value="remember-me" /> 
				<label>Remember me</label>
			</div>

		<a href="#">Forgot your password?</a>

		<button class = "signInButton">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button (click) = "flag = !flag" class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button (click) = "flag = !flag" class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer id="footer">
        
	<div class="footer-bottom row">
			<div class="footer">
				FOODFRIEND Copyright &copy; All Right Reserved. 
			</div>
	</div>
</footer>

<router-outlet></router-outlet>
