<div  [ngClass]="loaded ? 'loaded-content' : 'loading-content'" class="container">
    <h1>{{'dash.daily' | translate}}</h1>
    <div class="row upper-div" style="width: 100%;">
        <div style="width: 350px; height: 350px; margin-left: 10px;">
            <h3 style="margin:0 auto ; text-align: center;">{{'dash.calorieTracking' | translate}}</h3>
            <app-consumed-calorie (loaded)="getConsumedCalorieLoaded($event)"></app-consumed-calorie>
        </div>
        <div style="width: 500px; height: 400px; margin-left: -55px;">
            <h3 style="margin:0 auto ; text-align: center;">{{'dash.nutritionalValue' | translate}}</h3>
            <app-pie-chart-threed (loaded)="getPieChartLoaded($event)" ></app-pie-chart-threed>
        </div>
        <div style="width: 200px;height: 400px; margin-left: 2%;">
            <app-health-card (loaded)="getHealthCardLoaded($event)"></app-health-card>
        </div>
    </div>

    <hr class="divider">
    <h1>{{'dash.weekly' | translate}}</h1>
    <div class="row" style="width: 100%; height: 200px;">
        <div style="width: 80%; height: 100%;">
            <app-eating-habit-chart (loaded)="getEatingHabitLoaded($event)"></app-eating-habit-chart>
        </div>
    </div>
</div>

<app-loading [ngClass]="loaded ? 'hidden-spinner' : 'display-spinner'"  ></app-loading>


