<p-tabView [(activeIndex)]="activeIndex">
  <p-tabPanel header="Date Entry" [disabled]=true>
    <form #dateForm="ngForm">
      <div class="row">
        <div class="col-md-6">
          <p>{{'table.start' | translate}}</p>
          <span class="p-float-label">
            <input type="datetime-local" name="startEatingActivity" pInputText required [(ngModel)]="startDate">
          </span>
        </div>
        <div class="col-md-6">
          <p>{{'table.end' | translate}}</p>
          <span class="p-float-label">
            <input type="datetime-local" name="endEatingActivity" pInputText required [(ngModel)]="endDate">
          </span>
        </div>
      </div>
      <button (click)="setDate()"
        style="right: 0; position: absolute; margin-right: 23px; margin-top: 70px;">{{'addF.next' | translate}}<i
          class="fa fa-lg fa-angle-right" style="margin-left: 5px;"></i></button>
    </form>
    <br><br><br><br>
  </p-tabPanel>

  <p-tabPanel header="Nutrition Entry" [disabled]=true>

    <p-pickList [source]="foodsList" #pl [target]="getTargets()" sourceHeader="Nutrition List"
      targetHeader="Your Choices" [responsive]="true" [sourceStyle]="{'height':'300px'}"
      [targetStyle]="{'height':'300px'}" filterBy="name" sourceFilterPlaceholder="Search"
      targetFilterPlaceholder="Search" [showSourceControls]="false" [showTargetControls]="false">
      <ng-template let-food pTemplate="item">
        {{food.foodName}}
      </ng-template>
    </p-pickList>

    <p style="margin: 0 auto">
      <button (click)="customFood();">{{'addF.custom' | translate}}</button>
    </p>
    <p>
      <button (click)="activeIndex = 0" style="margin-top: 6px; position: absolute;"><i class="fa fa-lg fa-angle-left"
          style="margin-right: 5px;"></i>{{'addF.prev' | translate}}</button>
      <button (click)="addFoodFunction()"
        style="right: 0; margin-top: 6px; margin-right: 35px; position: absolute;">{{'addF.next' | translate}}<i
          class="fa fa-lg fa-angle-right" style="margin-left: 5px;"></i></button>
    </p>
  </p-tabPanel>

  <p-tabPanel header="Quantity Entry" [disabled]=true>
    <form [formGroup]="addedFoodForm" (ngSubmit)="onSubmit()">
      <div [formArrayName]="'formArray'">
        <div *ngFor="let food of addedFoods; let i = index">
          <div [formGroupName]="i">
            <p>
              {{food.addedFoodName}}
              <span class="p-float-label" style="margin-left: 10%;">
                <input type="number" pInputText formControlName="quantity" id="{{food.quantity}}" value="{{food.quantity}}">
                <label for="float-input">{{'addF.quantity' | translate}}</label>
              </span>
            </p>
          </div>
        </div>
      </div>
      <button type="submit">{{'table.add' | translate}}</button>
    </form>

    <div style="height: 60px;">
      <button (click)="activeIndex = 1" style="margin-top: 25px;"><i class="fa fa-lg fa-angle-left"
          style="margin-right: 5px;"></i>{{'addF.prev' | translate}}</button>
    </div>
  </p-tabPanel>
</p-tabView>

<p-dialog header="Add Custom Food" [(visible)]="customFoodModal" [dismissableMask]="true" [draggable]="false"
  [modal]="true" [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true">
  <app-custom-food></app-custom-food>
</p-dialog>