<div [ngClass]="loaded ? 'loaded-content' : 'loading-content'">
  <div class="row">
    <div style="margin-left: 5%">
      <br>
      <form #search="ngForm">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search" (keyup)="keyup(search.value.searchText)" ngModel
            name="searchText" />
        </span>
      </form>
    </div>
  </div>

  <br>

  <div class="row tab">
    <div class="p-mb-3">
      <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()"
        styleClass="p-button-text"></p-button>
      <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
      <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"
        styleClass="p-button-text"></p-button>
    </div>
    <p-table [value]="usersWithoutFilter | userFilter : searchText" [paginator]="true" [rows]="rows"
      [showCurrentPageReport]="true" [(first)]="first" dataKey="userId" rowExpandMode="single"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th pSortableColumn="firstName">{{'label.name' | translate}} <p-sortIcon field="firstName"></p-sortIcon>
          </th>
          <th pSortableColumn="lastName">{{'label.surname' | translate}} <p-sortIcon field="lastName">
            </p-sortIcon>
          </th>
          <th pSortableColumn="birthDate">{{'label.birthdate' | translate}} <p-sortIcon field="birthDate">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-users let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="users" (click)="userInfo(users.userId)"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{users.firstName }}</td>
          <td>{{ users.lastName }}</td>
          <td>{{ users.emailAddress }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-users>
        <tr>
          <th style="background-color: #f5fff08c;" colspan="4">
            <div>
              <p class="userTitle">{{ users.firstName }} {{users.lastName}}</p>
              <p style="margin-left: 41%;"> {{ users.firstName }}{{'expert.sum' | translate}} </p>
              <div class="row upper-div" style="width: 100%;">
                <div style="width: 50%; height: 350px; margin-left: 10px;">
                  <h3 style="margin:0 auto ; text-align: center;">Calorie Tracking</h3>
                  <p-chart type="doughnut" [width]="'250'" [data]="dataCalorieTracking"
                    [options]="chartOptionsNutritionalValue"></p-chart>
                </div>
                <div style="width: 50%; height: 400px; margin-left: -55px;">
                  <h3 style="margin:0 auto ; text-align: center;">Nutritional Value</h3>
                  <p-chart type="polarArea" [data]="dataNutritionalValue" [height]="'250'"
                    [options]="chartOptionsCalorieTracking" [style]="{'width': '40%'}"></p-chart>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                  <button style="height: 100% !important;" class="tab-button" (click)="openActivity()"> {{
                    users.firstName }}'s Energy Activities</button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">
                  <button style="height: 100% !important;" class="tab-button" (click)="openFood()">{{ users.firstName
                    }}'s Eating Activities</button>
                </div>
                <div class="col-md-2"></div>
              </div>
              <br>
              <hr class="divider">
              <div class="row">
                <div class="col-md-6" style="margin-left: 60px; margin-top: 25px">
                  <form #recommendation="ngForm">
                    <span class="p-float-label" style="margin: 0 auto">
                      <textarea rows="5" cols="70" pInputTextarea (keyup)="rec(recommendation.value.recommendation)"
                        ngModel name="recommendation"></textarea>
                      <label for="float-input">{{'label.sum' | translate}} {{ users.firstName }}</label>
                    </span>
                    <button class="tab-button" (click)="makeRecommendation()">
                      {{'expert.subRec' | translate}}
                    </button>
                  </form>
                </div>
                <div class="col-md-5">
                  <h1>
                    {{users.firstName}} için günlük hedefler
                  </h1>
                  <div [ngClass]="isDailyGoalActive ? 'hidden':'display'">
                    <p> Kullanıcıya günlük hedef verilmemiş </p>
                    <button class="tab-button" (click)="newDailyGoal(users.userId)">
                      Günlük Hedef Ekle
                    </button>

                  </div>
                  <div [ngClass]="!isDailyGoalActive ? 'hidden':'display'" class="dailyGoalInfo">
                    <p> Alınabilecek Kalori: {{patientDailyGoal[0].dailyCaloriIntake}}</p>
                    <p> Alınabilecek Karbonhidrat: {{patientDailyGoal[0].dailyCarbohydrateIntake}} </p>
                    <p> Alınabilecek Protein: {{patientDailyGoal[0].dailyProteinIntake}}</p>
                    <p> Alınabilecek Yağ: {{patientDailyGoal[0].dailyOilIntake}}</p>
                    <p> Hedeflenen Adım: {{patientDailyGoal[0].dailyTargetStep}}</p>
                    <p> Hedef Kilo: {{patientDailyGoal[0].targetWeight}}</p>
                    <p> Kalori Yakımı: {{patientDailyGoal[0].dailyCaloriExpenditure}}</p>
                    <button class="tab-button" (click)="newDailyGoal(users.userId)">
                      Güncelle
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </th>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="Nutrition Information" [(visible)]="nutritionInformation" [dismissableMask]="true" [draggable]="false"
  [modal]="true" [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true">
  <app-patient-nutrition-table [id]="clickedUserId"></app-patient-nutrition-table>
</p-dialog>

<p-dialog header="Activity Information" [(visible)]="activityInformation" [dismissableMask]="true" [draggable]="false"
  [modal]="true" [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true">
  <app-patient-activity-table [id]="clickedUserId"></app-patient-activity-table>
</p-dialog>

<p-dialog header="Daily Goal" [(visible)]="dailyGoalModal" [dismissableMask]="true" [draggable]="false" [modal]="true"
  [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true">
  <app-patient-daily-goal [id]="clickedUserId" [goal]="sendedGoal" [state]="isNewGoal"></app-patient-daily-goal>
</p-dialog>

<app-loading [ngClass]="loaded ? 'hidden-spinner' : 'display-spinner'"></app-loading>