.tab{
    margin-left: 5%;
    margin-right: 5%;
  }
  .tab-button{
    border: none;
    background-color: transparent;
    align-items: center;
}
.loading-content{
  display: none;
}
.loaded-content{
  display: contents;
}
.display-spinner{
  display: contents;
}
.hidden-spinner{
  display: none;
}
.userTitle{
  margin-left: 35px;
  margin-top: 20px;
}
.tab-button{
  background: linear-gradient(#25d59b78, #15c38ad9);
  border-radius: 10px;
  width: auto;
  height: 20%;
  margin: 0 auto;
  border: 0;
  padding: 1%;
  box-shadow: grey;
  box-shadow: rgb(0 0 0 / 28%) 0px 4px 4px;
  margin-bottom: 15px;
}
.hidden{
  display: none;
}
.display{
  display: block;
}
.tab-button:hover{
  background: linear-gradient(#15c38ad9,#25d59bbf); 
color: rgba(0, 0, 0, 0.8);
}

.dailyGoalInfo{
  border: 2px solid #03ac75;
  box-shadow: rgb(0 0 0 / 28%) 1px 1px 10px 4px;
  padding: 10px;
}
.divider {
	position: relative;
	margin-top: 0px;
	height: 1px;
	content: "";
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
  background-color: transparent;
	background-image: linear-gradient(to right, transparent, rgb(0, 0, 0), transparent);
}