.tab{
    margin-left: 5%;
    margin-right: 5%;
  }
  .tab-button{
    border: none;
    background-color: transparent;
    align-items: center;
}
.loading-content{
  display: none;
}
.loaded-content{
  display: contents;
}
.display-spinner{
  display: contents;
}
.hidden-spinner{
  display: none;
}

.userTitle{
  margin-left: 35px;
  margin-top: 20px;
  
}