.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .container-fluid{
    padding-top: 3.5rem;
     /* for chrome and safari*/
     -webkit-animation-duration: 1s;
     -webkit-animation-name: slidein;


     -moz-animation-duration: 1s;
     -moz-animation-name: slidein;

       /* for opera*/
     -o-animation-duration: 1s;
     -o-animation-name: slidein;

       /* Standard syntax*/
     animation-duration: 1s;
     animation-name: slidein;
  }

  @-webkit-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
  }

  @-moz-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
  }
  @-o-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
  }
  @keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
  }
