<!-- <div class="container">
    <div class="row">

        <div style="width: 40%; height: 50%;">
                            <app-food-ingredient-distribution-chart></app-food-ingredient-distribution-chart>
        </div>
        <div style="width: 40%; height: 50%;">
                            <app-food-ingredient-distribution-chart></app-food-ingredient-distribution-chart>
        </div>

        <div style="width: 40%; height: 50%;">
            <app-food-ingredient-distribution-chart></app-food-ingredient-distribution-chart>
        </div>
    </div>


        
</div> -->
<div class="container">
    
    <h1>{{'dash.daily' | translate}}</h1>
        <div class="row" style="width: 100%;">
            <div style="width: 350px; height: 350px; margin-left: 10px;">
                    <app-consumed-calorie></app-consumed-calorie>
            </div>
            <div style="width: 500px; height: 400px;">
                <app-pie-chart-threed></app-pie-chart-threed>
            </div>
                <div style="width: 200px ;height: 400px; margin-left: 10%;" >
                        <app-health-card></app-health-card>
                </div> 
        </div>

        <hr class = "divider">
            <h1>{{'dash.weekly' | translate}}</h1>
            <!-- <hr class = " divider-arrow"> -->
        <div class="row" style="width: 68%; height: 200px;">
                    <app-eating-habit-chart></app-eating-habit-chart>
        </div>
            <!-- <div class="row" style="width: 100%;">
        
                <div style="width: 600px; height: 400px;">
                        <app-progresses></app-progresses>
                </div>
        
            </div>
        
            <div><br></div>
        
            <div class="row" style="width: 100%;">
        
                <div style="width: 500px; height: 400px;">
                        <app-energy-consumption-chart></app-energy-consumption-chart>
                </div>
                <div style="width: 500px; height: 400px;">
                        <app-food-ingredient-distribution-chart></app-food-ingredient-distribution-chart>
                </div>
        
            </div>
        
        
            <div >
                <div class="col-md-12" style="height: auto;">
                    <div class="calendar">
                        <br>
                        <app-calendar></app-calendar>
                        <br>
                    </div>
                </div>
            </div> -->
</div>