<div class="row general">
    <div><br></div>
    <div class="row ">
        <div class="row">
    
            <div class="col-md-4">
                <div class="cons-calorie">
                    <app-consumed-calorie></app-consumed-calorie>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="progress">
                    <app-progresses></app-progresses>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="health-card">
                    <div style="height: 1%"></div>
                    <app-health-card></app-health-card>
                </div>
            </div>
        </div>
    
        <div><br></div>
    
        <div class="row mid-row">
            <div class="col-md-4">
                <div class="food-ing">
                    <app-food-ingredient-distribution-chart></app-food-ingredient-distribution-chart>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="eng-cons">
                    <app-energy-consumption-chart></app-energy-consumption-chart>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="eating-hab">
                    <app-eating-habit-chart></app-eating-habit-chart>
                </div>
            </div>
        </div>
    
    
        <div class="row">
            <div class="col-md-12">
                <div class="calendar">
                    <br>
                    <app-calendar></app-calendar>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>