.cons-calorie{
  height: 100%;
  width: 50%;
  background: #e5e5e5;
  border-radius: 100%;
  margin: 0 auto;
}

.progress{
  height: 100%;
  width: 100%;
  background: #e5e5e5;
  border-radius: 10px;
  margin: 0 auto;
}

.health-card{
  height: 100%;
  width: 100%;
  background: #e5e5e5;
  border-radius: 10px;
  margin: 0 auto;
}

.food-ing, .eng-cons, .eating-hab{
  height: 90%;
  width: 100%;
  background: #e5e5e5;
  border-radius: 10px;
  display: flex;
}

.mid-row{
 height: 40%;
}

.calendar{
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  border-radius: 10px;
  margin: 0 auto;
}

.general{
  margin-left: 1%;
}
