.card {

  background: transparent;
    border: none;
    max-width: 400px;
    height: 100px;
    margin-left: 5%;
    margin-top: 5%;
    transition: height .15s ease-out !important;
  }
  i{
    color: white;
  }
  .detail-card{
    max-width: 400px;
    margin-left: 5%;
    margin-top: 5%;
    height: 400px;
    transition: height .15s ease-in !important;
  }

  .header-image {
    background-image: url('../../../../../assets/diyetisyen_pp.jpg');
    background-size: cover;
  }
  .button{
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    margin-right: 0px;
    margin-left: 70px;
  }
  .button-none{
    display: none;
  }
  .button-expert {
    width: 85px;
    height: 28px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    animation: cssAnimation 0s .25s forwards;
    visibility: hidden;
  }
  .button-expert:hover{
    border: 1px solid transparent;
    background-color: white;
    color: #53a98f;
  }
  @keyframes cssAnimation {
    to   { visibility: visible; }
  }
  .writings{
    color: white;
  }
  mat-card{
    border-radius: 25px;
  }

  .content{
    display: none;
  }
  .detail-content{
    width: 100%;
    height: 500px;
  }


.container-fluid{
  padding-top: 3.5rem;
   /* for chrome and safari*/
   -webkit-animation-duration: 1s;
   -webkit-animation-name: slidein;


   -moz-animation-duration: 1s;
   -moz-animation-name: slidein;

     /* for opera*/
   -o-animation-duration: 1s;
   -o-animation-name: slidein;

     /* Standard syntax*/
   animation-duration: 1s;
   animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}

@-moz-keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}
@-o-keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}
@keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}
