<p-tabView [(activeIndex)]="activeIndex">
  <p-tabPanel header="Date Entry" [disabled]=true>
    <form #dateForm="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>{{'table.start' | translate}}</mat-label>
        <input matInput name="startEatingActivity" type="datetime-local" required [(ngModel)]="startDate">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'table.end' | translate}}</mat-label>
        <input matInput name="endEatingActivity" type="datetime-local" required [(ngModel)]="endDate">
      </mat-form-field>
      <button (click)="setDate()"
        style="right: 0; position: absolute;">Next</button>
    </form>
  </p-tabPanel>

  <p-tabPanel header="Nutrition Entry" [disabled]=true>

    <p-pickList [source]="foods" [target]="addedFods" sourceHeader="Nutrition List" targetHeader="Your Choices"
      [responsive]="true" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" filterBy="name"
      sourceFilterPlaceholder="Search" targetFilterPlaceholder="Search">
      <ng-template let-food pTemplate="item">
        {{food.foodName}}
      </ng-template>
    </p-pickList>

    <p style="margin: 0 auto">
      <button (click)="customFood();">{{'addF.custom' | translate}}</button>
    </p>
    <p>
      <button (click)="activeIndex = 0" style="left: 0; position: absolute;">Prev</button>
      <button (click)="addFood()" style="right: 0; position: absolute;">Next</button>
    </p>
  </p-tabPanel>


  <p-tabPanel header="Quantity Entry" [disabled]=true>
    <form id="myForm" [formGroup]="addedFoodForm" (ngSubmit)="onSubmit()">
      <div [formArrayName]="'formArray'">
        <div *ngFor="let x of addedFoods; let i = index">
          <div [formGroupName]="i">
            <p>
              {{x.addedFoodName}}
              <mat-form-field>
                <mat-label>{{'addF.quantity' | translate}}</mat-label>
                <input formControlName="quantity" id="{{x.quantity}}" matInput value="{{x.quantity}}" type="number">
              </mat-form-field>
            </p>
          </div>
        </div>
      </div>

      <button type="submit">{{'addF.cont' | translate}}</button>
    </form>

    <button (click)="activeIndex = 1" style="left: 0; position: absolute;">Prev</button>
  </p-tabPanel>
</p-tabView>

<p-dialog header="Add Custom Food" [(visible)]="customFod" [dismissableMask]="true" [draggable]="false"
  [modal]="true" [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true" [style]="{width: '50vw'}">
  <app-custom-food></app-custom-food>
</p-dialog>