<form style="width: 100%;" [formGroup]="goalForm" (ngSubmit)="onSubmit()" class="form">
    <span class="p-float-label">
        <input class="labels" type="number" pInputText formControlName="dailyCaloriIntake" />
        <label for="float-input"> {{'daily.calorie' | translate}} </label>
    </span>
    <span class="p-float-label">
        <input class="labels" type="number" pInputText formControlName="dailyCarbohydrateIntake" />
        <label for="float-input"> {{'daily.chad' | translate}} </label>
    </span>
    <span class="p-float-label">
        <input class="labels" type="number" pInputText formControlName="dailyProteinIntake" />
        <label for="float-input"> {{'daily.protein' | translate}} </label>
    </span>
    <span class="p-float-label">
        <input class="labels" type="number" pInputText formControlName="dailyOilIntake" />
        <label for="float-input"> {{'daily.oil' | translate}} </label>
    </span>
    <span class="p-float-label">
        <input class="labels" type="number" pInputText formControlName="dailyTargetStep" />
        <label for="float-input"> {{'daily.targetStep' | translate}} </label>
    </span>
    <span class="p-float-label">
        <input class="labels" type="number" pInputText formControlName="targetWeight" />
        <label for="float-input"> {{'daily.weight' | translate}} </label>
    </span>
    <span class="p-float-label">
        <input class="labels" type="number" pInputText formControlName="dailyCaloriExpenditure" />
        <label for="float-input"> {{'daily.calorieExp' | translate}} </label>
    </span>
    <span class="p-float-label">
        <input class="labels" type="date" pInputText formControlName="targetDate" />
    </span>
</form>
