  .sideBarOpen{
    width: 21%;
  }
  .bodyContainer{
    height: 96%;
    background: linear-gradient(0deg,#007e54 0,#03ac75 100%);
  }
  .sidebar{    
    background: linear-gradient( to bottom, #15dd9c , #00db93);
    margin-top: 1%;
    margin-left: 15px;
    height: 93%;
    width: 188px;
    display: block;
    box-shadow: 0 0 45px 0 rgb(0 0 0 / 6%);
    margin-right: 15px;
    border-radius: 5px;
    border-radius: 10px;
  }

  mat-sidenav-content{
    margin-top: 1%;

  }
.layout{
    background: linear-gradient(0deg,#f3f3f3 0,#eaeaea 100%);
    margin-bottom: 2%;
    margin-left: 35px;
    height: 93%;
    display: block;
    box-shadow: 0 0 45px 0 rgb(0 0 0 / 6%);
    margin-right: 15px;
    border-radius: 10px;
}

.side-item{
  width: 169px;
}
li{
  border-radius: 11px;
}
ul{
  padding-left: 3px !important;
  padding-right: 3px;
}
li:hover{
  background-color: #03ac75;
}
.button_pin{
  border: 0px;
  background-color: transparent;
  float: right;
  color:black;
}
.pin_icon_unpinned{
  color: white;
}
.pin_icon_pinned{
  color: black;
}
.logo{
  margin-top: 4px;
  width: 100%;
  height: 60px;
  position: relative;
  padding: 0.5rem 0.7rem;
  z-index: 4;
}
.logo a.logo-mini{
  opacity: 1;
  float: left;
  width: 34px;
  text-align: center;
  margin-left: 10px;
  margin-right: 12px;
}

.logo a.logo-normal{
  display: block;
  opacity: 1;
  -webkit-transform: translate3d(0px, 0,0);
  -moz-transform: translate3d(0px,0,0);
  -o-transform: translate3d(0px,0,0);
  -ms-transform: translate3d(0px,0,0);
  transform: translate3d(0px,0,0);
}
.logo:after{
  content:'';
  position: absolute;
  bottom: 0;
  right:15px;
  height: 1px;
  width: calc(100% - 30px);
  background: rgba(255, 255, 255, 0.5);
}

.logo .simple-text{
  text-transform: uppercase;
  padding: 0.5rem 0;
  display: block;
  white-space: nowrap;
  color: #ffffff; 
  text-decoration: none ;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
}

.logo-img img{
  width: 35px;
}

.nav  li>a{
  margin: 10px 15px 0;
  border-radius: 30px;
  color: white;
  width: 169px;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 10px 15px;
  line-height: 1.5 rem;
  transition: all .3s ease 0s;
}
.username{
  text-align: center;
    font-size: 0.95rem;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    margin-bottom: 5px !important;
}

.nav li>a i{
  width: 2opx;
  margin-right: 10px;
  font-size: 1.125 rem;
}

.nav li>a:hover, .nav li>a:hover i{
  color:rgba(255, 255, 255, 1);
  transition: all .3s ease 0s;
}
.nav {
   display: block;
  padding-left: 0;
  list-style: none;
}
.nav li.active>a::before{
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  top: 17px;
  left: -2px;
  background: #fff;
}

.title-div{
  width: 100%;
  height: 56px;
}

.page-title{
  margin-left: 3%;
  font-family: -webkit-pictograph;
  font-size: 40px;
  margin-top: 12px;
  float: left;
}

.divider
{
  position: relative;
  height: 1px;
}

.div-transparent-title:before{
  content: "";
  position: absolute;
  top: 0;
  left: 3%;
  right: 5%;
  width: 33%;
  height: 2px;
  background-image: linear-gradient(to right, rgb(48,49,51), transparent);
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
.notscroll{
  
  border-radius: 10px;
  background: transparent;
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}