.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: whitesmoke;
    height: 950px;
    /* opacity: 0.4; */
  }
  .sideBarOpen{
    width: 20%;
  }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
    
  }
  img{
    width: 100%;
    height: 50%;
    border-radius: 50%;
  }
  .bodyContainer{
    height: 100%;
  }
  .sidebar{
    background: linear-gradient(to bottom, #38818a, #76b451);
  }
  
.divider
{
	position: relative;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
button{
  
  border: none;
  text-align: center;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  width:97%;
  height: 45px;
  background-color: transparent;
  border: none;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}