<mat-toolbar class="header">

    <button mat-icon-button (click)="emit()">
        <i class="fa fa-bars" aria-hidden="true" style="color: white;"></i>
    </button>
    <img class="img" src="../../../assets/logo_white.png">
    <img class="responsiveImg" src="../../../assets/icon_white.png">
    <p class="page-name">
        {{pageName}}
    </p>


    <span class="fill-remaining-space">
        <button mat-icon-button [matMenuTriggerFor]="notifications" #menuTrigger="matMenuTrigger"
            style="background-color: transparent; margin-right: 5px;">
            <!-- <i class="pi pi-bell p-mr-4 p-text-secondary" style="font-size: 2rem" ></i> -->
            <i class="fa fa-bell" aria-hidden="true" pBadge value="{{notificationNum}}" style="color: white;"></i>
        </button>
        <mat-menu #notifications="matMenu" [overlapTrigger]="false">
            <ng-container *ngFor="let not of notificationList">
                <button (click)="openNot(not.messageId)">
                    <b *ngIf="!not.readed">{{not.title}}</b>
                    <p *ngIf="not.readed">{{not.title}}</p>
                </button>
                <br>
            </ng-container>
        </mat-menu>
    </span>

    <span class="fill-remaining-space">
        <button mat-icon-button [matMenuTriggerFor]="user" #menuTrigger="matMenuTrigger">
            <i class="fa fa-angle-double-down fa-lg" style="color: white;" aria-hidden="true"></i>
        </button>

        <mat-menu #user="matMenu" [overlapTrigger]="false">
            <button mat-menu-item class="profile-opt" (click)="profile()">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span> {{'menu.profile' | translate}}</span>
            </button>

            <!--
            <button mat-menu-item class="profile-opt" (click)="settings()">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span> {{'menu.settings' | translate}}</span>
            </button>
-->
            <button mat-menu-item class="profile-opt" (click)="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span> {{'menu.logout' | translate}}</span>
            </button>

        </mat-menu>
    </span>

</mat-toolbar>

<p-dialog header="{{titlees}}" [(visible)]="notif" [dismissableMask]="true" [draggable]="false" [modal]="true"
    [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true" [style]="{width: '50vw'}">
    {{context}}
</p-dialog>