
img{
  width: 150px;
}
.responsiveImg{
  display: none;
}

.space {
    flex:100%;
  }
  button {
    background-color: transparent;
    font: 100% Arial;
    border-width: 0px;
    border-color: white;
}
.userNameText, .foodFriendText{
  color:white;
}
.header{
  background: #335145 ;
  height: 6%;
}
.mat-icon{
  color: white;
}
@media only screen and (max-width: 400px){
.responsiveImg{
  width: 25px;
  display: inline-block;
}
.img{
  display: none;
}
.foodFriendText{
  display: none;
}
.userNameText{
  display: none;
}
}

