.space {
    flex:100%;
  }
  button {
    background-color: transparent;
    font: 100% Arial;
    border-width: 0px;
    border-color: whitesmoke;
}
.userNameText, .foodFriendText{
  color:antiquewhite;
}
.header{
  background: #00c081;
  height: 5%;
}
.mat-icon{
  color: aliceblue;
}
@media only screen and (max-width: 400px){
  
.foodFriendText{
  display: none;
}
.userNameText{
  display: none;
}
}

