<mat-toolbar class="header">
<!-- Button that opens the sidebar -->
    <button mat-icon-button (click)="emit()">
        <mat-icon>menu</mat-icon>
    </button>

    <span class = "foodFriendText">FoodFriend</span>

    <span class="space"></span>

    <!-- Notification button-->
    <button mat-icon-button [matMenuTriggerFor]="notifications">
        <mat-icon>notifications_none</mat-icon>
    </button>

    <!-- Notification menu-->
    <mat-menu #notifications="matMenu">
        <p> Uzman mesaj atmış. </p>
        <p> Admin mesaj atmış. </p>
    </mat-menu>

    <!-- User button -->
    <button mat-button [matMenuTriggerFor]="user">
        <mat-icon>person</mat-icon>
        <span class="userNameText" >Username</span>
    </button>

    <!-- User menu -->
    <mat-menu #user="matMenu">
        <p>
            <button mat-button>
                <mat-icon>account_circle</mat-icon>
                Profile
            </button>
        </p>
        <p>
            <button mat-button>
                <mat-icon>settings</mat-icon>
                Settings
            </button>
        </p>
        <p>
            <button mat-button>
                <mat-icon>power_settings_new</mat-icon>
                Logout
            </button>
        </p>
    </mat-menu>
    
</mat-toolbar>