<div style="width: 350px; height: 350px;">
  <form [formGroup]="allergyForm" (ngSubmit)="addAllergy()" class>
      <p-dropdown class="label" [options]="allergies" formControlName="allergyName" optionLabel="allergies.illnessName"
        [filter]="true" filterBy="allergyName" [showClear]="true" placeholder="{{'label.select' | translate}}">
        <ng-template let-allergy pTemplate="item">
          <div>
            <div>{{ allergy.allergyName }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    <button class="input-group" type="submit">Add</button>
  </form>
</div>
