<div style="width: 450px;">
  <form [formGroup]="allergyForm" (ngSubmit)="addAllergy()" class>
    <p style="width: 90% !important; align-items: center;">
      <p-dropdown [options]="allergies" formControlName="allergyName" optionLabel="allergies.illnessName"
        [filter]="true" filterBy="allergyName" [showClear]="true" placeholder="{{'label.select' | translate}}">
        <ng-template let-allergy pTemplate="item">
          <div>
            <div>{{ allergy.allergyName }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </p>
    <button class="input-group" type="submit">Add</button>
  </form>
</div>