<!-- <mat-form-field appearance="outline">
    <mat-label>{{'label.select' | translate}}</mat-label>
    <select matNativeControl>
      <option [ngValue]="undefined" disabled>{{'label.select' | translate}}</option>
      <option *ngFor="let allergy of allergies" [value]="allergy.name" (click)="addAllergy(allergy.id)">{{ allergy.name}}
      </option>
    </select>
  </mat-form-field> -->

<h2>{{'profile.addAll' | translate}}</h2>

<form [formGroup]="allergyForm" (ngSubmit)="addAllergy()" class>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>{{'label.select' | translate}}</mat-label>
      <select matNativeControl formControlName="allergyName" required>
        <option [ngValue]="undefined" disabled>{{'label.select' | translate}}</option>
        <option *ngFor="let allergy of allergies" [value]="allergy.allergyName">{{ allergy.allergyName }}
        </option>
      </select>
    </mat-form-field>
  </p>
  <button class="input-group" type="submit">Add</button>
</form>