<div [ngClass]="loaded ? 'loaded-content' : 'loading-content'">
  <div class="app">
    <div class="app-main" style="margin: 0 auto">
      <full-calendar *ngIf="calendarVisible" [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>

<p-dialog header="Add Event" [(visible)]="addEvent" [dismissableMask]="true" [draggable]="false" [modal]="true"
  [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true" [style]="{width: '25%'}">
  <app-add-event></app-add-event>
</p-dialog>

<p-dialog header="Event Details" [(visible)]="eventDetails" [dismissableMask]="true" [draggable]="false" [modal]="true"
  [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true" [style]="{width: '25%'}">
  Seçtiğiniz event hakkında ne yapmak istersiniz?
  <br>
  <button class="submitButton" (click)=deleteEvent()> DELETE</button>

  <button class="submitButton" (click)=updateEvent()> UPDATE</button>
</p-dialog>

<p-dialog header="Edit Event" [(visible)]="updateEventBool" [dismissableMask]="true" [draggable]="false" [modal]="true"
  [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true" [baseZIndex]="-100" [style]="{ width: '50vw' }">
  <app-edit-event></app-edit-event>
</p-dialog>

<app-loading [ngClass]="loaded ? 'hidden-spinner' : 'display-spinner'"></app-loading>