.app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.app-main {
  flex-grow: 0.3;
  padding: 2em;
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.fc-button-group{
  background: brown !important;
}

:host ::ng-deep .fc-button{
  color: brown;
}

::ng-deep full-calendar > .fc-button {
  color: blueviolet;
}

.loading-content{
  display: none;
}
.loaded-content{
  display: contents;
}
.display-spinner{
  display: contents;
}
.hidden-spinner{
  display: none;
}

.submitButton{

  margin-top: 10%;
  margin-right: 5%;
	border-radius: 25px;
	border: 1px solid #009879;
	background-color: #009879;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.submitButton:hover{
  border: 1px solid #00ecb0;
	background-color: #00d6a0;
}

.p-button-rounded{
  background-color: #fff;
  font-weight: bold;
  color: #009879;
}

.p-button-rounded:hover{
  background-color: #00d6a0 !important;
}
