<div class="container " style="margin: 0 auto;" id="container" [ngClass]=" flag ? 'right-panel-active' : 'right-panel-inactive'">
	<div class="form-container sign-up-container" [ngClass] = "flag ? 'sign-up-container-enable' :'sign-up-container-disable'  ">
		<div>
			<form action="#" class="" >
			<h1>Create Account</h1>
			<div class="alternate-logins col-5">
				<a href="#" class="social-links"><i class="fa fa-facebook" style="font-size:12px;"></i></a>
				<a href="#" class="social-links"><i class="fa fa-google" style="font-size:12px;"></i></a>
			</div>
			<span>or use your email for registration</span>

			<!-- name, surname, email, birthdate, psd, repsd, phn, gender, tos, prv -->			

			<button class = "signUpButton" >Sign Up</button>

		</form>
		<div class="buttonDiv">
			<button  (click) = "flag = !flag" class="buttonMobile">Sign In</button>
		</div>
		</div>
		
	</div>
	<div class="form-container sign-in-container" [ngClass] = "flag ? 'sign-in-container-disable' : 'sign-in-container-enable' ">
		<div>
		<form action="#">
			<h1>Sign in</h1>
			<div class="alternate-logins">
				<a href="" class="social-links"><i class="fa fa-facebook" style="font-size:12px;"></i></a>
				<a href="" class="social-links"><i class="fa fa-google" style="font-size:12px;"></i></a>
			</div>
			<span>or use your account</span>

			<app-login-form></app-login-form>
			
			<!-- Email psd remember forgot psd -->
			<button class="input-group">Sign In</button>
		</form>
		<div class="buttonDiv">
			<button  (click) = "flag = !flag" class="buttonMobile">Sign Up</button>
		</div>
		</div>
		
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button (click) = "flag = !flag" class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button (click) = "flag = !flag" class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>