<mat-card class="card" [style.backgroundColor]="'#3e6257'">
  <mat-card-header >
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title class="writings">Aysel Okyurt</mat-card-title>
    <mat-card-subtitle class="writings">Diyetisyen</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="../../../assets/diyetisyen.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p class="writings">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
  </mat-card-content>
  <button mat-card-actions type="submit" class="button" (click)="openProfile()">
    Devamı..
  </button>
</mat-card>
