<div class="container">
    <form [formGroup]="editEventForm" (ngSubmit)="onSubmit()" class="form">

        <span style="margin-top: 5% !important;" class="p-float-label">
            <input type="string" pInputText formControlName="title">
        </span>

        <span style="margin-top: 5% !important;" class="p-float-label">
            <h4>{{'calendar.start' | translate}}</h4>
            <input type="date" value="{{ editEventForm.value.start | date:'yyyy-MM-dd' }}" pInputText formControlName="start">
        </span>

        <span style="margin-top: 5% !important;" class="p-float-label">
            <h4>{{'calendar.end' | translate}}</h4>
            <input type="date" value="{{ editEventForm.value.end | date:'yyyy-MM-dd' }}" pInputText formControlName="end">
        </span>

        <div class="space-bottom"></div>

        <button style="margin-top: 5% !important;" type="submit" class="modal-button">
            {{'label.submit' | translate}}
        </button>
    </form>
</div>
