<div [ngClass]="loaded ? 'loaded-content' : 'loading-content'">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-1">
            <button class="add-button" (click)="add()" type="button">{{'table.add' | translate}}</button>
        </div>
    </div>
    <br>
    <div class="row">
        <p-table [value]="disabilityList" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true"
            [(first)]="first" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template pTemplate="header">
                <tr>
                    <th>{{'label.disDec' | translate}}</th>
                    <th>{{'label.disRat' | translate}}</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-disability>
                <tr>
                    <td>{{ disability.disabledDescription }}</td>
                    <td>{{ disability.disabledRatio }}</td>
                    <td>
                        <button class="tab-button" (click)="update(disability)">
                            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                        </button>
                        <button class="tab-button"
                            (click)="delete(disability.disabledDetailId, disability.disabledDescription)">
                            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="{{state}} Disability" [(visible)]="disabilityBool" [dismissableMask]="true" [draggable]="false"
    [modal]="true" [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true" [style]="{width: '30%'}">
    <div class="container">
        <form [formGroup]="disabilityForm" (ngSubmit)="onSubmit()" class="form">
            <div class="row">
                <div class="col">
                    <span style="margin-bottom: 12%; margin-top: 10%" class="p-float-label">
                        <input style="width: 100% !important;" type="text" pInputText formControlName="disabledDescription" />
                        <label for="float-input">{{ "label.disDec" | translate }}</label>
                    </span>
                </div>
                <div class="col">
                    <span style="margin-bottom: 12%; margin-top: 10%" class="p-float-label">
                        <input style="width: 100% !important;" type="number" pInputText formControlName="disabledRatio" />
                        <label for="float-input">{{ "label.disRat" | translate }}</label>
                    </span>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- <div class="col-md-9"></div> -->
                <div class="col-md-1">
                    <button class="add-button" type="submit">{{ "label.submit" | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</p-dialog>

<app-loading [ngClass]="loaded ? 'hidden-spinner' : 'display-spinner'"></app-loading>
