<div class="container">
    <form [formGroup]="customFoodForm" (ngSubmit)="onSubmit(customFoodForm.value)" class="form">
        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>{{'table.name' | translate}}</mat-label>
                <input matInput formControlName="foodName" />
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>{{'table.weight' | translate}}</mat-label>
                <input matInput formControlName="weight" />
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>{{'table.calorie' | translate}}</mat-label>
                <input matInput formControlName="calorie" />
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>{{'table.protein' | translate}}</mat-label>
                <input matInput formControlName="protein" />
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>{{'table.oil' | translate}}</mat-label>
                <input matInput formControlName="oil" />
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>{{'table.carbohydrate' | translate}}</mat-label>
                <input matInput formControlName="carbohydrate" />
            </mat-form-field>
        </div>
        <button>Submit</button>
    </form>
</div>