<div class="container" novalidate>
    <form [formGroup]="editFoodForm" (ngSubmit)="onSubmit()" class="form">

        <p-dropdown [options]="foods" formControlName="foodName" optionLabel="foodName" [filter]="true"
            filterBy="foodName" [showClear]="true" placeholder="{{'label.select' | translate}}">
            <ng-template let-food pTemplate="item">
                <div>
                    <div>{{food.foodName}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <span class="p-float-label" style="margin-top: 2%;">
            <input type="number" pInputText formControlName="quantity">
        </span>
        <span class="p-float-label" style="margin-top: 2%;">
            <input type="datetime-local" pInputText formControlName="startDate">
        </span>
        <span class="p-float-label">
            <input type="datetime-local" pInputText formControlName="endDate">
        </span>


        <div class="space-bottom"></div>

        <button mat-button type="submit" class="modal-button" [disabled]="!editFoodForm.valid">
            {{'label.submit' | translate}}
        </button>
    </form>
</div>