<div class="row">
  <div class="col-md-6">
    <circle-progress [percent]="per" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="0"
      [outerStrokeColor]="'#ff0000'" [outerStrokeGradientStopColor]="'#ff0000'" [outerStrokeGradient]="true"
      [animation]="true" [animationDuration]="1000" [responsive]="true" [units]='unit' [subtitle]='sub' [title]='tit'>
    </circle-progress>
  </div>
  <div class="col-md-6">
    <p></p>
    <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="val"></mat-progress-bar>
    <p></p>
    <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="30"></mat-progress-bar>
    <p></p>
    <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="60"></mat-progress-bar>
    <p></p>
    <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="20"></mat-progress-bar>
    <p></p>
    <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="50"></mat-progress-bar>
    <p></p>
    <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="10"></mat-progress-bar>
  </div>
</div>