<div class="container" *ngIf="!forgetPasswordTemp; else login" novalidate>

  <div class="alternate-logins">
    <a href="" class="social-links"><i class="fa fa-facebook" style="font-size:30px;"></i></a>
    <a href="" class="social-links"><i class="fa fa-google" style="font-size:30px;"></i></a>
  </div>

  <div class="row">
    <span>{{'useAccount.choose' | translate}}</span>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit('submit')" class="form">
    <p>
      <span class="p-float-label">
        <input type="email" pInputText formControlName="emailAddress"
          [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" required>
        <label for="float-input">{{'label.email' | translate}}</label>
      </span>
      <br>
      <small *ngIf="submitted && f.emailAddress.errors?.required" style="color: red;">{{'validator.emailNull' |
        translate}}</small>
      <small *ngIf="submitted && f.emailAddress.errors?.email" style="color: red;">{{'validator.emailValid' |
        translate}}</small>
    </p>

    <p>
      <span class="p-float-label p-input-icon-right">
        <input [type]="hidePassword ? 'password' : 'text'" pInputText formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
        <label for="float-input">{{'label.password' | translate}}</label>
        <i *ngIf="hidePassword" class="fa fa-eye-slash" (click)="hidePassword = !hidePassword"></i>
        <i *ngIf="!hidePassword" class="fa fa-eye" (click)="hidePassword = !hidePassword"></i>
      </span>
      <br>
      <small *ngIf="submitted && f.password.errors?.required" style="color: red;">{{'validator.psdNull' |
        translate}}</small>
      <small *ngIf="submitted && f.password.errors?.min" style="color: red;">{{'validator.psdMin' | translate}}</small>
    </p>

    <p class="forgetPsw"><a (click)="forgetPassword()">{{'forget.title' | translate}}</a></p>

    <p class="cb">
      <input class="margin" type="checkbox" formControlName="remember">
      <label> {{'forget.title2' | translate}}</label>
    </p>

    <button class="input-group" type="submit">{{'account.signIn' | translate}}</button>
  </form>
</div>

<ng-template #login>
  <div class="container" *ngIf="!approved; else approve" novalidate>
    {{'welcome.forget' | translate}}
    <form [formGroup]="forgetMail" (ngSubmit)="onForget('forget')" class="form">
      <p>
        <span class="p-float-label">
          <input type="email" pInputText formControlName="emailAddress"
            [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" required>
          <label for="float-input">{{'label.email' | translate}}</label>
        </span>
        <br>
        <small *ngIf="submitted && f.emailAddress.errors?.required" style="color: red;">{{'validator.emailNull' |
          translate}}</small>
        <small *ngIf="submitted && f.emailAddress.errors?.email" style="color: red;">{{'validator.emailValid' |
          translate}}</small>
      </p>
      <button class="input-group" type="submit">{{'welcome.approve' | translate}}</button>
    </form>
    <br><br><br>
    {{'welcome.return' | translate}}

    <div class="row">
      <button (click)="forgetPassword()">{{'welcome.returnBut' | translate}}</button>
    </div>
  </div>
  <ng-template #approve>
    <div class="container">
      {{'welcome.approved' | translate}}

      <div class="row">
        <button (click)="forgetPassword()">{{'account.signIn' | translate}}</button>
      </div>
    </div>
  </ng-template>
</ng-template>
