
<!-- <section class="card-section">
    <div class="card">
        <div class="flip-card">
            <div class="flip-card__container">
                <div class="card-front">
                    <div class="card-front__tp card-front__tp--ski">
                        <div style="width: 100%;">

                            <h2 class="card-front__heading">
                                Health Card
                            </h2>
                            <div class="row">
                                <div class="col-4 shortInfo" >
                                    Weight
                                </div>
                                <div class="col-4 shortInfo">
                                    Height
                                </div>
                                <div class="col-4 shortInfo">
                                    Age
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 shortInfo" >
                                    {{weight}}
                                </div>
                                <div class="col-4 shortInfo">
                                    {{height}}
                                </div>
                                <div class="col-4 shortInfo">
                                    {{age}}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-front__bt">
                        <p class="card-front__text-view card-front__text-view--ski">
                            More Details
                        </p>
                    </div>
                </div>

                <div class="card-back">
                    <img class="logo" src = "../../../../../assets/logo_green.png">
                </div>
            </div>
        </div>

        <div class="inside-page">
            <div class="inside-page__container">
                <h3 class="inside-page__heading inside-page__heading--ski">
                    My Health Card
                </h3>
                <p class="inside-page__text">
                    Your personal information about your health.
                    To see your card
                </p>
                <a href="#" class="inside-page__btn inside-page__btn--ski">Click</a>
            </div>
        </div>
    </div>
</section> -->



<!-- RESPONIVE SIDE -->


<!-- <section class=" responsive-card-section"> -->
    <section class=" card-section" >
    <div class="card">
        <div class="flip-card">
            <div class="flip-card__container">
                <div class="card-front">
                    <div class="card-front__tp card-front__tp--ski">
                        <div style="width: 100%;">

                            <h2 class="card-front__heading">
                                Health Card
                            </h2>
                            <div class="row">
                                <div class="col-4 shortInfo" >
                                    Weight
                                </div>
                                <div class="col-4 shortInfo">
                                    Height
                                </div>
                                <div class="col-4 shortInfo">
                                    Age
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 shortInfo" >
                                    {{weight}}
                                </div>
                                <div class="col-4 shortInfo">
                                    {{height}}
                                </div>
                                <div class="col-4 shortInfo">
                                    {{age}}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-front__bt">
                        <p class="card-front__text-view card-front__text-view--ski">
                            More Details
                        </p>
                    </div>
                </div>

                <div class="card-back">
                    <div class="inside-page__container">
                    <h3 class="inside-page__heading inside-page__heading--ski">
                        My Health Card
                    </h3>
                    <p class="inside-page__text">
                        Your personal information about your health.
                        To see your card
                    </p>
                    <a href="#" class="inside-page__btn inside-page__btn--ski">Click</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>


