<section class=" card-section">
    <div class="card">
        <div class="flip-card">
            <div class="flip-card__container">
                <div class="card-front">
                    <div class="card-front__tp card-front__tp--ski">
                        <div style="width: 100%;">

                            <h2 class="card-front__heading">
                                {{'profile.healthCard' | translate}}
                            </h2>
                            <div class="row">
                                <div class="col-4 shortInfo">
                                    {{'label.weight' | translate}}
                                </div>
                                <div class="col-4 shortInfo">
                                    {{'label.height' | translate}}
                                </div>
                                <div class="col-4 shortInfo">
                                    {{'profile.age' | translate}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 shortInfo">
                                    {{weight}}
                                </div>
                                <div class="col-4 shortInfo">
                                    {{height}}
                                </div>
                                <div class="col-4 shortInfo">
                                    {{age}}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-front__bt">
                        <p class="card-front__text-view card-front__text-view--ski">
                            {{'profile.healthM' | translate}}
                        </p>
                    </div>
                </div>

                <div class="card-back">
                    <div class="inside-page__container">
                        <h3 class="inside-page__heading inside-page__heading--ski">
                            {{'profile.healthCard' | translate}}
                        </h3>
                        <p class="inside-page__text">
                            {{'profile.healthP' | translate}}
                        </p>
                        <a href="#" class="inside-page__btn inside-page__btn--ski">{{'profile.click' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>