<div class="container">
  <form [formGroup]="customFoodForm" (ngSubmit)="onSubmit()" class="form">
    <div class="row">
      <div class="col">
        <span style="margin-bottom: 12%; margin-top: 10%" class="p-float-label">
          <input type="text" pInputText formControlName="foodName" />
          <label for="float-input">{{ "table.name" | translate }}</label>
        </span>
      </div>

      <div class="col">
        <span style="margin-bottom: 12%; margin-top: 10%" class="p-float-label">
          <input type="number" pInputText formControlName="weight" />
          <label for="float-input">{{ "table.weight" | translate }}</label>
        </span>
      </div>
      <div class="col">
        <span style="margin-bottom: 12%; margin-top: 10%" class="p-float-label">
          <input type="number" pInputText formControlName="calorie" />
          <label for="float-input">{{ "table.calorie" | translate }}</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span style="margin-bottom: 12%; margin-top: 10%" class="p-float-label">
          <input type="number" pInputText formControlName="protein" />
          <label for="float-input">{{ "table.protein" | translate }}</label>
        </span>
      </div>
      <div class="col">
        <span style="margin-bottom: 12%; margin-top: 10%" class="p-float-label">
          <input type="number" pInputText formControlName="oil" />
          <label for="float-input">{{ "table.oil" | translate }}</label>
        </span>
      </div>
      <div class="col">
        <span style="margin-bottom: 12%; margin-top: 10%" class="p-float-label">
          <input type="number" pInputText formControlName="carbohydrate" />
          <label for="float-input">{{
            "table.carbohydrate" | translate
          }}</label>
        </span>
      </div>
    </div>

    <button type="submit">{{ "label.submit" | translate }}</button>
  </form>
</div>

<p-toast></p-toast>