<div style="width: 350px; height: 350px;">
  <form [formGroup]="illnessForm" (ngSubmit)="addIllness()" class>
      <p-dropdown class="label" [options]="illnesses"  formControlName="illnessName" optionLabel="illnesses.illnessName" [filter]="true"
            filterBy="illnessName" [showClear]="true" placeholder="{{'label.select' | translate}}">
            <ng-template let-illness pTemplate="item">
                <div>
                    <div>{{illness.illnessName}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <button class="input-group" type="submit">Add</button>
  </form>
</div>
