<div style="width: 450px;">
  <form [formGroup]="illnessForm" (ngSubmit)="addIllness()" class>
    <p style="width: 90% !important; align-items: center;">
      <p-dropdown [options]="illnesses"  formControlName="illnessName" optionLabel="illnesses.illnessName" [filter]="true"
            filterBy="illnessName" [showClear]="true" placeholder="{{'label.select' | translate}}">
            <ng-template let-illness pTemplate="item">
                <div>
                    <div>{{illness.illnessName}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </p>
    <button class="input-group" type="submit">Add</button>
  </form>
</div>