<div class="container rounded bg-white">
  <div class="row">
    <div class="col-md-4 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5 image" src="../../../../../assets/user.jpg" />
      </div>
    </div>
    <div class="col-md-8 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
        </div>

        <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" class="form">
          <div class="row mt-2">
            <div class="col-md-6">
              <span class="p-float-label">
                <input type="text" pInputText formControlName="firstName">
                <label for="float-input">{{'label.name' | translate}}</label>
              </span>
            </div>

            <div class="col-md-6">
              <span class="p-float-label">
                <input type="text" pInputText formControlName="lastName">
                <label for="float-input">{{'label.surname' | translate}}</label>
              </span>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <span class="p-float-label">
                <input type="text" pInputText formControlName="emailAddress">
                <label for="float-input">{{'label.email' | translate}}}</label>
              </span>
            </div>

            <div class="col-md-6">
              <span class="p-float-label">
                <input type="text" pInputText formControlName="phoneNumber">
                <label for="float-input">{{'label.phoneNumber' | translate}}</label>
              </span>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <span class="p-float-label">
                <input type="number" pInputText formControlName="height">
                <label for="float-input">{{'label.height' | translate}}</label>
              </span>
            </div>

            <div class="col-md-6">
              <span class="p-float-label">
                <input type="number" pInputText formControlName="weight">
                <label for="float-input">{{'label.weight' | translate}}</label>
              </span>
            </div>
          </div>

          <div class="row mt-3">
            <span class="p-float-label">
              <input type="date" pInputText formControlName="birthdate">
            </span>
          </div>

          <div class="row mt-3">
            <div class="col-md-4">
              <div class="buttons">
                <button pButton pRipple type="button" class="p-button-rounded p-button-success" (click)="addIllness()">
                  <a aria-hidden="true"> {{'profile.addIll' | translate}}</a>
                </button>
              </div>
            </div>

            <div class="col-md-4">
              <div class="buttons">
                <button pButton pRipple type="button" class="p-button-rounded p-button-success" (click)="addAllergy()">
                  <a aria-hidden="true"> {{'profile.addAll' | translate}}</a>
                </button>
              </div>
            </div>

            <div class="col-md-4">
              <div class="buttons">
                <button pButton pRipple type="button" class="p-button-rounded p-button-success"
                  (click)="addDisability()">
                  <a aria-hidden="true"> {{'profile.addDis' | translate}}</a>
                </button>
              </div>
            </div>
          </div>
          <button type="submit" class="submitButton">{{'label.submit' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>

<p-dialog header="{{'profile.addIll' | translate}}" [(visible)]="illness" [dismissableMask]="true" [draggable]="false"
  [modal]="true" [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true">
  <app-add-illness></app-add-illness>
</p-dialog>

<p-dialog header="{{'profile.addAll' | translate}}" [(visible)]="allergy" [dismissableMask]="true" [draggable]="false"
  [modal]="true" [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true">
  <app-add-allergy></app-add-allergy>
</p-dialog>

<p-dialog header="{{'profile.addDis' | translate}}" [(visible)]="disabled" [dismissableMask]="true" [draggable]="false"
  [modal]="true" [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true">
  <app-add-disability></app-add-disability>
</p-dialog>

<p-confirmDialog [dismissableMask]="true" [draggable]="false" [modal]="true" [appendTo]="'body'" [closeOnEscape]="true"
  [blockScroll]="true" [baseZIndex]="10000"></p-confirmDialog>