  .sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: whitesmoke;
    height: 950px;
    /* opacity: 0.4; */
  }
  .sideBarOpen{
    width: 20%;
  }
  .bodyContainer{
    height: 83%;
  }
  .sidebar{
    background: linear-gradient(to bottom, #38818a, #76b451);
  }