<div [ngClass]="loaded ? 'loaded-content' : 'loading-content'">
    <div class="row">
        <div style="margin-left: 5%">
            <br>
            <form #search="ngForm">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Search" (keyup)="keyup(search.value.searchText)" ngModel
                        name="searchText" />
                </span>
            </form>
        </div>
    </div>

    <br>

    <div class="row tab">
        <p-table [value]="usersWithoutFilter | userFilter : searchText" [paginator]="true" [rows]="rows"
            [showCurrentPageReport]="true" [(first)]="first" dataKey="userId" rowExpandMode="single"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th pSortableColumn="firstName">{{'label.name' | translate}} <p-sortIcon field="firstName">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="lastName">{{'label.surname' | translate}} <p-sortIcon field="lastName">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="birthDate">{{'label.birthdate' | translate}} <p-sortIcon field="birthDate">
                        </p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-users let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="users"
                            (click)="relatedPatient(users.userId)" class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{users.firstName }}</td>
                    <td>{{ users.lastName }}</td>
                    <td>{{ users.birthDate | date: "dd/MM/yyyy" }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-users>
                <tr>
                    <th style="background-color:#55cda647; padding-top: 15px; padding-bottom: 15px;" colspan="7">
                            <button (click)="newConnection(users.userId)" style="float: right; margin-right: 19%; margin-top: 3%;">Bağlantı Kur</button>
                        <div class="tableDiv">

        <p-table [value]="usersRelatedProf" [paginator]="false" [rows]="rows"
                                [showCurrentPageReport]="false" [(first)]="first" dataKey="userId"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                                <ng-template pTemplate="header">
                <tr>
                    <th colspan="2" pSortableColumn="firstName">Bu Uzmanın Danışanları<p-sortIcon field="firstName">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="lastName">Bağlantıyı Kopar
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-userss let-expanded="expanded">
                <tr>
                    <td>{{userss.firstName }}</td>
                    <td>{{userss.lastName }}</td>
                    <td><button class="banButton" (click)="deleteUserFromProf(userss.userId, users.userId)"><i
                                class="fa fa-ban"></i></button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </th>

    </tr>
    </ng-template>
    </p-table>
</div>

<p-dialog header="Yeni Bağlantı Kur" [(visible)]="newConnect" [dismissableMask]="true" [draggable]="false"
  [modal]="true" [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true" [style]="{width: '25%'}">
  <app-new-connection [id]="newConnectionProfId"></app-new-connection>
</p-dialog>

</div>




<app-loading [ngClass]="loaded ? 'hidden-spinner' : 'display-spinner'"></app-loading>