
.loading-content{
    display: none;
  }
  .loaded-content{
    display: contents;
  }
  .display-spinner{
    display: contents;
  }
  .hidden-spinner{
    display: none;
  }
  .displayInside-spinner{
    display: contents;
  }
  .hiddenInside-spinner{
    display: none;
  }
  .loadingInside-content{
    display: none;
  }
  .loadedInside-content{
    display: contents;
  }

  .banButton{
    background-color: transparent; 
    border: transparent;
  }
  .tableDiv{
      width: 50%;
      margin-left: 8%;
  }

  .new-button{
    background: linear-gradient(#00db93, #00b97d);
    border-radius: 25px;
    width: 10%;
    height: 20%;
    margin: 0 auto;
    border: 0;
}

.new-button:hover{
	background: rgba(9, 220, 128, 0.3);
	color: rgba(255,255,255,0.8);
  }