
.loading-content{
    display: none;
  }
  .loaded-content{
    display: contents;
  }
  .display-spinner{
    display: contents;
  }
  .hidden-spinner{
    display: none;
  }
  .displayInside-spinner{
    display: contents;
  }
  .hiddenInside-spinner{
    display: none;
  }
  .loadingInside-content{
    display: none;
  }
  .loadedInside-content{
    display: contents;
  }

  .banButton{
    background-color: transparent; 
    border: transparent;
  }
  .tableDiv{
      width: 50%;
      margin-left: 8%;
  }