<h2>{{'profile.addIll' | translate}}</h2>

<form [formGroup]="illnessForm" (ngSubmit)="addIllness()" class>
  <p>
    <mat-form-field class="label" appearance="outline">
      <mat-label>{{'label.select' | translate}}</mat-label>
      <select matNativeControl formControlName="illnessName" required>
        <option [ngValue]="undefined" disabled>{{'label.select' | translate}}</option>
        <option *ngFor="let illness of illnesses" [value]="illness.illnessName">{{ illness.illnessName }}
        </option>
      </select>
    </mat-form-field>
  </p>
  <button class="input-group" type="submit">Add</button>
</form>
