/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: rgba(64, 180, 145, 1);     
}
mat-dialog-container {
    background-color: #ececec !important;
 }

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #009879;
}

.mat-focused .mat-form-field-outline {
    color: #009879 !important;
}

.mat-focused .mat-form-field-label {
    color: #009879 !important;
}
  
.mat-form-field-underline {
    background-color: #009879 !important;
} 
  
.mat-form-field-ripple {
   background-color: #009879 !important;;
}