<h2 mat-dialog-title>{{data.name}}</h2>

<mat-dialog-content class="modal-table">
  <mat-form-field class="searching-filter" appearance="standard">
    <mat-label class="search">{{'table.search' | translate}}</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <div class="row">
    <table mat-table [dataSource]="dataSource" matSort class="my-table">
      <ng-container matColumnDef="meal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="lHead">{{'table.meal' | translate}}</th>
        <td mat-cell *matCellDef="let foods">{{ foods.meal }}</td>
      </ng-container>

      <ng-container matColumnDef="foodCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.category' | translate}}</th>
        <td mat-cell *matCellDef="let foods">{{ foods.foodCategory }}</td>
      </ng-container> 

      <ng-container matColumnDef="foodName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.name' | translate}}</th>
        <td mat-cell *matCellDef="let foods">{{ foods.foodName }}</td>
      </ng-container>

      <ng-container matColumnDef="calorie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.calorie' | translate}}</th>
        <td mat-cell *matCellDef="let foods">{{ foods.calorie }}</td>
      </ng-container>

      <ng-container matColumnDef="protein">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.protein' | translate}}</th>
        <td mat-cell *matCellDef="let foods">{{ foods.protein }}</td>
      </ng-container>

      <ng-container matColumnDef="oil">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.oil' | translate}}</th>
        <td mat-cell *matCellDef="let foods">{{ foods.oil }}</td>
      </ng-container>

      <ng-container matColumnDef="carbohydrate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="rHead">{{'table.carbohydrate' | translate}}</th>
        <td mat-cell *matCellDef="let foods">{{ foods.carbohydrate }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[3, 5]" [pageSize]="3" showFirstLastButtons>
    </mat-paginator>
  </div>
</mat-dialog-content>