button {
	width: auto;
    margin: 0 auto;
	border: 0px;
	background-color: transparent !important;
	color: #000;
	font-size: 12px;
	padding: 12px 45px;
	transition: transform 80ms ease-in;
}

.mat-header-cell {
	height: 100% !important;
	background-color: #009879;
	color: #ffffff;
	font-size: 1em;
	font-family: sans-serif;
  }
  

.modal-table {
	width: 1200px;
	height: 500px; 
}

  th.mat-sort-header-sorted {
	color: black;
  }

  ::ng-deep .mat-sort-header-arrow {
	color: #fff;
  }
  
  .row {
	height: 400px;
	overflow: hidden;
	margin-left: 10%;
	margin-right: 10%;
	min-height: 64px;
  	padding: 8px 24px 0;
  }

  .search{
	transition: all .2s ease-in-out;
	margin-left: 5%;
  }
  .search:hover {
	transform: scale(1.025);
  }
  
  .searching-filter{
	margin-left: 13%;
  }
  
mat-paginator{
	height: 60px;
	margin-right: 10%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-left: 2px solid #009879;
	border-right: 2px solid #009879;
	border-bottom: 2px solid #009879;
  }
  
  mat-form-field{
	margin-left: 5px;
  }
  
  .modal-input{
	width: 200px;
  }
  
  .my-table{
	  border-collapse: unset;
	  padding: 0;
	  margin: 25px 0;
	  font-size: 0.9em;
	  font-family: sans-serif;
	  min-width: 400px;
	  margin-bottom: 0;
	  background-color: #ececec;
  }
  
  
  .my-table tr:nth-of-type(even) {
	background-color: #fff;
  }
  
  .tab-button{
	border: none;
	background-color: transparent;
  }
  
  .lHead{
	border-top-left-radius: 25px;
  }
  
  .rHead{
	border-top-right-radius: 25px;
  }
  
  .lCol{
	border-left: 2px solid  #009879;
  }
  
  .rCol{
	border-right: 2px solid  #009879;
  }

  .mat-table .mat-cell:not(:nth-child(1)), .mat-table .mat-header-cell:not(:nth-child(1)) {
	padding: 0 0;
  }

  mat-cell{
	display:flex !important;
	justify-content:center!important;
	
  }
  
  mat-header-cell {
	display:flex !important;
	justify-content:center !important;
  }