button {
	width: auto;
    margin: 0 auto;
	border: 0px;
	background-color: #fff;
	color: #000;
	font-size: 12px;
	padding: 12px 45px;
	transition: transform 80ms ease-in;
}

.modal-table{
	width: 1000px;
	height: 500px;
}

.mat-sort-header-container {
	align-items: center;
	text-align: center;
  }
  .table {
	text-align: center;
  }
  table {
	width: 90%;
  }

  th.mat-sort-header-sorted {
	color: black;
  }
  .row {
	height: 400px;
	overflow: hidden;
	margin-left: 10%;
	margin-right: 0%;
  }

  .mat-header-cell {
	height: 100% !important;
	background-color: rgb(219, 219, 219) !important;
	color: #00695c !important;
  }

  .search{
	transition: all .2s ease-in-out;
	color: #00695c;
  }
  .search:hover {
	transform: scale(1.025);
  }

  .searching-filter{
	margin-left: 10%;
  }
  .mat-form-field{
    width: 80%;
    margin-right: 0%;
  }

  .ikonHover:hover{
    color: #0edc99;
  }
