<mat-form-field class="searching-filter" appearance="standard">
  <mat-label class="search">{{'table.search' | translate}}</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input />
</mat-form-field>

<div class="row">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.name' | translate}}</th>
      <td mat-cell *matCellDef="let users"  (click) = "open(users.id)">{{ users.name }}</td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.surname' | translate}}</th>
      <td mat-cell *matCellDef ="let users" (click) = "open(users.id)">{{ users.surname }}</td>
    </ng-container>

    <ng-container matColumnDef="birthdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.birthdate' | translate}}</th>
      <td mat-cell *matCellDef="let users" (click) = "open(users.id)">
        {{ users.birthdate | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.height' | translate}}</th>
      <td mat-cell *matCellDef="let users" (click) = "open(users.id)">{{ users.height }}</td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.weight' | translate}}</th>
      <td mat-cell *matCellDef="let users" (click) = "open(users.id)">{{ users.weight }}</td>
    </ng-container>

    <ng-container matColumnDef="bloodType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.blood' | translate}}</th>
      <td mat-cell *matCellDef="let users" (click) = "open(users.id)">{{ users.bloodType }}</td>
    </ng-container>

    <ng-container matColumnDef="smoking">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.smoking' | translate}}</th>
      <td mat-cell *matCellDef="let users" (click) = "open(users.id)">{{ users.smoking }}</td>
    </ng-container>

    <ng-container matColumnDef="alcohol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.alcohol' | translate}}</th>
      <td mat-cell *matCellDef="let users" (click) = "open(users.id)">{{ users.alcohol }}</td>
    </ng-container>

    <ng-container matColumnDef="exercise">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.exercise' | translate}}</th>
      <td mat-cell *matCellDef="let users" (click) = "open(users.id)">{{ users.exercise }}</td>
    </ng-container>

    <ng-container matColumnDef="target">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >
        {{'target.purpose' | translate}}
      </th>
      <td mat-cell *matCellDef="let users">
        <button class="ikonHover" mat-icon-button (click)="openTarget(users.name, users.surname, users.id)">
          <i class="fa fa-line-chart fa-lg" aria-hidden="true"></i>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="foodData">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'target.nutriInfo' | translate}}
      </th>
      <td mat-cell *matCellDef="let users">
        <button class="ikonHover" mat-icon-button (click)="openFood(users.name, users.surname, users.id)">
          <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="activityData">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{'target.actiInfo' | translate}}
      </th>
      <td mat-cell *matCellDef="let users">
        <button class="ikonHover" mat-icon-button (click)="openActivity(users.name, users.surname, users.id)">
          <i class="fa fa-bicycle fa-lg" aria-hidden="true"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator style="width: 90%; height: 15%" [pageSizeOptions]="[3, 5]" [pageSize]="3" showFirstLastButtons>
  </mat-paginator>
</div>
