button {
	width: auto;
    margin: 0 auto;
	border: 0px;
	background-color: transparent !important;
	color: #000;
	font-size: 12px;
	padding: 12px 45px;
	transition: transform 80ms ease-in;
}

.mat-header-cell {
	height: 100% !important;
	background-color: #009879;
	color: #ffffff;
	font-size: 1em;
	font-family: sans-serif;
  }


.modal-table {
	width: 1000px;
	height: 500px;
}

  th.mat-sort-header-sorted {
	color: black;
  }
  .row {
	height: 400px;
	overflow: hidden;
	margin-left: 10%;
	margin-right: 10%;
  }

  .search{
	transition: all .2s ease-in-out;
	margin-left: 5%;
  }
  .search:hover {
	transform: scale(1.025);
  }

  .searching-filter{
	margin-left: 10%;
  }

mat-paginator{
	height: 60px;
	margin-right: 10%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-left: 2px solid #009879;
	border-right: 2px solid #009879;
	border-bottom: 2px solid #009879;
  }

  mat-form-field{
	margin-left: 5px;
  }

  .modal-input{
	width: 200px;
  }

  .my-table{
	  border-collapse: unset;
	  padding: 0;
	  margin: 25px 0;
	  font-size: 0.9em;
	  font-family: sans-serif;
	  min-width: 400px;
	  margin-bottom: 0;
	  background-color: #ececec;
  }


  .my-table tr:nth-of-type(even) {
	background-color: #fff;
  }

  .tab-button{
	border: none;
	background-color: transparent;
  }

  .lHead{
	border-top-left-radius: 25px;
  }

  .rHead{
	border-top-right-radius: 25px;
  }

  .lCol{
	border-left: 2px solid  #009879;
  }

  .rCol{
	border-right: 2px solid  #009879;
  }

.tab-button:hover{
  color: #009879;
}


.container-fluid{
  padding-top: 3.5rem;
   /* for chrome and safari*/
   -webkit-animation-duration: 1s;
   -webkit-animation-name: slidein;


   -moz-animation-duration: 1s;
   -moz-animation-name: slidein;

     /* for opera*/
   -o-animation-duration: 1s;
   -o-animation-name: slidein;

     /* Standard syntax*/
   animation-duration: 1s;
   animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}

@-moz-keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}
@-o-keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}
@keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }

  to {
      margin-left: 0%;
      width: 100%;
  }
}
