<h2 mat-dialog-title>{{data.name}}</h2>

<mat-dialog-content>

    <form [formGroup]="targetForm">
    <mat-form-field appearance="outline">
        <mat-label>Target Height</mat-label>
        <input matInput type="number" placeholder="Target Weight" id="targetWeight" name="targetWeight" formControlName="targetWeight">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="picker" name="endDate" id="endDate" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</form>

    <button mat-icon-button type="button" (click)="openLose(data.name,false,targetWeight)">
        <mat-icon>create_new_folder</mat-icon>
        <p>Lose Weight</p>
    </button>

    <button mat-icon-button  type="button" (click)="openGain(data.name,true,targetWeight)">
        <mat-icon>create_new_folder</mat-icon>
        <p>Gain Weight</p>
    </button>

</mat-dialog-content>