<div style="width: 450px;">
  <form [formGroup]="disabilityForm" (ngSubmit)="addDisability()" class>
    <p style="width: 90% !important; align-items: center;">
      <p-dropdown [options]="disabilities" formControlName="disabledDescription"
        optionLabel="disabilities.disabledDescription" [filter]="true" filterBy="disabledDescription" [showClear]="true"
        placeholder="{{'label.select' | translate}}">
        <ng-template let-disability pTemplate="item">
          <div>
            <div>{{disability.disabledDescription }}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <span class="p-float-label">
        <input type="number" pInputText formControlName="disabledRatio" required>
        <label for="float-input">Disability Ratio</label>
      </span>
    </p>
    <button class="input-group" type="submit">Add</button>
  </form>
</div>