.tab{
    margin-left: 5%;
    margin-right: 5%;
  }

  .loading-content{
    display: none;
  }
  .loaded-content{
    display: contents;
  }
  .display-spinner{
    display: contents;
  }
  .hidden-spinner{
    display: none;
  }
  