<section></section>
<footer class="footer-distributed">
	<div class="footer-right">
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"> </i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
	</div>
	<div class="footer-left">
        <p class="footer-links"> &copy; 2021 FoodFriend. All Rights Reserved. </p>
		<p class="footer-links">
            <a href="#">Home</a>
            <a href="#">Blog</a>
            <a href="#">Pricing</a>
            <a href="#">About</a>
            <a href="#">Faq</a>
            <a href="#">Contact</a>
		</p>
	</div>
</footer>

