.row{
    padding-right: 2%;
  }
  .add-button {
    margin-top: 15%;
  border-radius: 25px;
  border: 1px solid #009879;
  background-color: #009879;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.add-button:hover{
    border: 1px solid #00ecb0;
  background-color: #00d6a0;
}
.icon-button{
  padding: 5% !important;
  margin: 2% !important
}

.icon-button:hover{
  border: 1px solid #009879;
  border-radius: 5px;
}
.loading-content{
  display: none;
}
.loaded-content{
  display: contents;
}
.display-spinner{
  display: contents;
}
.hidden-spinner{
  display: none;
}