<div [ngClass]="loaded ? 'loaded-content' : 'loading-content'">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-1">
            <button class="add-button" (click)="createGoal()" type="button">{{'table.add' | translate}}</button>
        </div>
    </div>
    <br>
    <div class="row" style="margin-left: 2%">
        <div *ngFor="let goal of goals" class="col-md-4">
            <app-goal-card [goal]="goal"></app-goal-card>
        </div>
    </div>
</div>

<p-dialog header="Add Goal" [(visible)]="addGoal" [dismissableMask]="true" [draggable]="false" [modal]="true"
    [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true" [style]="{width: 'auto'}">
    <app-create-goal></app-create-goal>
</p-dialog>

<app-loading [ngClass]="loaded ? 'hidden-spinner' : 'display-spinner'"></app-loading>