.divider {
	position: relative;
	margin-top: 2%;
	height: 1px;
	content: "";
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
  background-color: transparent;
	background-image: linear-gradient(to right, transparent, rgb(0, 0, 0), transparent);
}
.divider-arrow{
  position: relative;
  margin-top: 0;
  height: 1px;
  content: "";
  z-index: 1;
  top: 0;
  left: calc(50% - 7px);
  width: 23px;
  height: 23px;
  transform: rotate(45deg);
  background-color: #ffffff00;
  border-bottom: 2px solid rgb(0 0 0);
  border-right: 2px solid rgb(0 0 0);
}

.loading-content{
    display: none;
  }
  .loaded-content{
    display: contents;
  }
  .display-spinner{
    display: contents;
  }
  .hidden-spinner{
    display: none;
  }

  :host ::ng-deep .p-card{
    border:  2px solid #03ac75;
    padding-right: 2%;
  }
