<div class="container" *ngIf="!approved; else approve" novalidate>

  <div class="alternate-logins col-5">
    <a href="#" class="social-links"><i class="fa fa-facebook" style="font-size:30px;"></i></a>
    <a href="#" class="social-links"><i class="fa fa-google" style="font-size:30px;"></i></a>
  </div>

  <div class="row">
    <span>{{'useAccount.title' | translate}}</span>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
    <div class="row">
      <div class="col-md-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="firstName"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required>
          <label for="float-input">{{'label.name' | translate}}</label>
        </span>

        <small *ngIf="submitted && f.firstName.errors?.required" style="color: red;">{{'validator.nameNull' |
          translate}}</small>
      </div>

      <div class="col-md-6">
        <span class="p-float-label">
          <input type="text" pInputText formControlName="lastName"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" required>
          <label for="float-input">{{'label.surname' | translate}}</label>
        </span>

        <small *ngIf="submitted && f.lastName.errors?.required" style="color: red;">{{'validator.surnameNull' |
          translate}}</small>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <span class="p-float-label">
          <input type="email" pInputText formControlName="emailAddress"
            [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" required>
          <label for="float-input">{{'label.email' | translate}}</label>
        </span>
        <small *ngIf="submitted && f.emailAddress.errors?.required" style="color: red;">{{'validator.emailNull' |
          translate}}</small>
        <small *ngIf="submitted && f.emailAddress.errors?.email" style="color: red;">{{'validator.emailValid' |
          translate}}</small>
      </div>

      <div class="col-md-6">
        <span class="p-float-label">
          <input type="email" pInputText formControlName="phone"
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" required>
          <label for="float-input">{{'label.phoneNumber' | translate}}</label>
        </span>
        <small *ngIf="submitted && f.phone.errors?.required" style="color: red;">{{'validator.phoneNull' |
          translate}}</small>
        <small *ngIf="submitted && f.phone.errors?.pattern" style="color: red;">{{'validator.phoneValid' |
          translate}}</small>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <span class="p-float-label p-input-icon-right">
          <input [type]="hidePassword ? 'password' : 'text'" pInputText formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
          <label for="float-input">{{'label.password' | translate}}</label>
          <i *ngIf="hidePassword" class="fa fa-eye-slash" (click)="hidePassword = !hidePassword"></i>
          <i *ngIf="!hidePassword" class="fa fa-eye" (click)="hidePassword = !hidePassword"></i>
        </span>
        <br>
        <small *ngIf="submitted && f.password.errors?.required" style="color: red;">{{'validator.psdNull' |
          translate}}</small>
        <small *ngIf="submitted && f.password.errors?.min" style="color: red;">{{'validator.psdMin' |
          translate}}</small>
      </div>


      <div class="col-md-6">
        <span class="p-float-label p-input-icon-right">
          <input [type]="hidePasswordConfirmation ? 'password' : 'text'" pInputText formControlName="passwordConf"
            [ngClass]="{ 'is-invalid': submitted && f.passwordConf.errors }" required>
          <label for="float-input">{{'label.confirmPassword' | translate}}</label>
          <i *ngIf="hidePasswordConfirmation" class="fa fa-eye-slash"
            (click)="hidePasswordConfirmation = !hidePasswordConfirmation"></i>
          <i *ngIf="!hidePasswordConfirmation" class="fa fa-eye"
            (click)="hidePasswordConfirmation = !hidePasswordConfirmation"></i>
        </span>
        <br>
        <small *ngIf="submitted && f.passwordConf.errors?.required" style="color: red;">{{'validator.psdNull' |
          translate}}</small>
        <small *ngIf="submitted && f.passwordConf.errors?.match" style="color: red;">{{'validator.psdMin' |
          translate}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <p-dropdown class="label p-dropdown" [options]="genders" formControlName="genderId" optionLabel="name" [filter]="false"
            [showClear]="false" placeholder="Select Any"> <!-- Mert bunların css'i ve yandaki placeholder'a bak-->
            <ng-template let-gender pTemplate="item">
              <div class="gender">
                <div>{{ gender.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <small *ngIf="submitted && f.genderId.errors?.required" style="color: red;">{{'validator.genderNull' |
            translate}}</small>
      </div>

      <div class="col-md-6">
        <span class="p-float-label">
          <input type="date" pInputText formControlName="birthDate" type="date"
            [ngClass]="{ 'is-invalid': submitted && f.birthDate.errors }" required>
          <label style="margin-left: 40%; font-size: 13px;">{{'label.birthdate' | translate}}</label>
        </span>
        <small *ngIf="submitted && f.birthDate.errors?.required" style="color: red;">{{'validator.bdayNull' |
          translate}}</small>
      </div>
    </div>
    <p class="cb">
      <input type="checkbox" formControlName="privacyPolicy" required>
      <label style="color: red" *ngIf="submitted && f.privacyPolicy.errors?.required" (click)="privacyPolicy = true">
        {{'label.pp' | translate}}*</label>
      <label *ngIf="!submitted || !f.privacyPolicy.errors?.required" (click)="privacyPolicy = true"> {{'label.pp' |
        translate}}*</label>
    </p>

    <button class="signUpButton" type="submit">{{'account.signUp' | translate}}</button>
  </form>
</div>

<ng-template #approve>
  <div class="container">
    <div class="reg">
      {{'welcome.approveReg' | translate}}

      <div class="row">
        <button class="signUpButton" (click)="signIn()">{{'account.signIn' | translate}}</button>
      </div>

    </div>
  </div>
</ng-template>

<p-dialog header="FOODFRIEND KİŞİSEL VERİLERİN KORUNMASI VE GİZLİLİK POLİTİKASI" [(visible)]="privacyPolicy"
  [dismissableMask]="true" [draggable]="false" [modal]="true" [appendTo]="'body'" [closeOnEscape]="true"
  [blockScroll]="true" [style]="{width: '50vw'}">
  <br>
  Foodfriend adına veri sorumlusu sıfatı ile ARD GRUP BİLİŞİM TEKNOLOJİLERİ A.Ş. (ARD BİLİŞİM) olarak, 6698 sayılı
  Kişisel Verilerin Korunması Kanunu (“KVKK”) m.10′ dan doğan aydınlatma yükümlülüğümüzü yerine getirmek amacıyla
  aşağıdaki açıklamaları üyelerimizin ve web-sitemizi ve/veya mobil uygulamalarımızı kullanan 3. kişilerin dikkatine
  sunarız.

  ARD BİLİŞİM olarak kişisel verilerinizin güvenliğine en üst düzeyde önem vererek, sizlere sunduğumuz tüm ürün ve
  hizmetlerimizde kişisel verilerinizin güvenliğinin ön planda olduğu bilinciyle faaliyetlerimize devam ettiğimizi
  belirtmek isteriz.

  ARD BİLİŞİM işbu Kişisel Verilerin Korunması Hakkında Açıklama metnini yürürlükteki mevzuatta yapılabilecek
  değişiklikler çerçevesinde her zaman güncelleme hakkını saklı tutar.

  07.04.2016 tarihli ve 29677 sayılı Resmi Gazete’de yayımlanan 6698 sayılı Kişisel Verilerin Korunması Kanunu (KVKK)
  uyarınca, veri sorumlusu sıfatını haiz şirketimizce elde edilmiş/edilecek ya da şirketimizce
  paylaştığınız/paylaşacağınız şahsınıza ait her türlü bilginin (kişisel veri), aşağıda açıklanan çerçevede ve anılan
  Kanunda öngörülen şekillerde şirketimizce işleneceğini ve bilgilerinizin otomatik olan ya da olmayan yollarla elde
  edilmesi, kaydedilmesi, depolanması, muhafaza edilmesi, değiştirilmesi, açıklanması, aktarılması, elde edilebilir hale
  getirilmesi de dâhil olmak üzere bilgileriniz üzerinde gerçekleştirilen her türlü işlemin “kişisel verilerin
  işlenmesi” anlamına geldiğini bilgilerinize sunarız.

  Kişisel verilerinizin işlemleriniz için kullanılması, özel hayatınızın gizliliği ve temel hak ve özgürlüklerinizin
  korunması temel prensibimizdir.
  <br>
  <b>KİŞİSEL VERİLERİNİZİN İŞLENME AMAÇLARI VE HUKUKİ SEBEPLERİ</b>

</p-dialog>
