th.mat-sort-header-sorted {
  color: black;
}

::ng-deep .mat-sort-header-arrow {
  color: #fff;
}

.row {
  height: 400px;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
}

.mat-header-cell { 
  height: 100% !important;
  background-color: #009879;
  color: #ffffff;
  font-size: 1em;
  font-family: sans-serif;
}

.search{
  transition: all .2s ease-in-out;
  margin-left: 5%;
}

.search:hover {
  transform: scale(1.025);
}

.searching-filter{
  margin-left: 10%;
}

.modal-container{
  width: auto;
  height: auto;
}

form{
  padding-top: 5%;
}

.space-bottom{
  height: 10px;
}
.space-middle{
  width: 1%;
}

p{
  margin-top: -1.00em;
  margin-bottom: -0.75em;
  text-align: center;
}

.modal-button {
	width: auto;
  margin: 0 auto;
	border-radius: 25px;
	border: 1px solid #53ecbe;
	background-color: #3ad6a7;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

mat-paginator{
  height: 60px;
  margin-right: 10%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left: 2px solid #009879;
  border-right: 2px solid #009879;
  border-bottom: 2px solid #009879;
}

mat-form-field{
  margin-left: 5px;
}

.modal-input{
  width: 200px;
}

.my-table{
    border-collapse: unset;
    padding: 0;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    margin-bottom: 0;
    background-color: #ececec;
}

.my-table tr:nth-of-type(even) {
  background-color: #fff;
}

.tab-button{
  border: none;
  background-color: transparent;
}

.lHead{
  border-top-left-radius: 25px;
}

.rHead{
  border-top-right-radius: 25px;
}

.lCol{
  border-left: 2px solid  #009879;
}

.rCol{
  border-right: 2px solid  #009879;
}

.mat-table.resizing {
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: col-resize;
}

.mat-table .mat-cell span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-table .mat-header-cell {
  position: relative;
}

.mat-table .mat-header-cell:not(:last-child) .resize-holder {
  cursor: col-resize;
  width: 20px;
  height: 100%;
  position: absolute;
  right: -10px;
  top: 0;
  z-index: 1;
}

.mat-table .mat-cell:not(:nth-child(1)), .mat-table .mat-header-cell:not(:nth-child(1)) {
  padding: 0 0;
}