<div class="modal-container">
    <h2>Edit Activity</h2>

    <mat-dialog-content>
        <div class="container" *ngIf="!post; else forminfo" novalidate>
            <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)" class="form">
                <p>
                  {{'table.type' | translate}}
                    <mat-form-field appearance="outline" class="modal-input">
                        <!-- <mat-label>{{data.activityType}}:</mat-label> -->
                        <input data.activityType matInput type="string" formControlName="activityType" />
                    </mat-form-field>
                </p>

                <p>
                  {{'table.period' | translate}}
                    <mat-form-field appearance="outline" class="modal-input">
                        <!-- <mat-label> {{data.activityPeriod}}:</mat-label> -->
                        <input data.activityPeriod matInput type="number" formControlName="activityPeriod" />
                    </mat-form-field>
                </p>

                <p>
                  {{'table.effort' | translate}}
                    <mat-form-field appearance="outline" class="modal-input">
                        <!-- <mat-label>{{data.activityEffortSpent}}:</mat-label> -->
                        <input data.activityEffortSpent matInput type="number" formControlName="activityEffortSpent" />
                    </mat-form-field>
                </p>

                <p>
                  {{'table.unit' | translate}}
                    <mat-form-field appearance="outline" class="modal-input">
                        <!-- <mat-label>{{data.activityeffortUnit}}:</mat-label> -->
                        <input data.activityeffortUnit matInput type="number" formControlName="activityeffortUnit" />
                    </mat-form-field>
                </p>

                <p>
                  {{'table.start' | translate}}
                    <mat-form-field appearance="outline" class="modal-input">
                        <!-- <mat-label>{{data.activityStartDate | date: "dd/MM/yyyy"}}:</mat-label> -->
                        <input data.activityStartDate matInput [matDatepicker]="picker" formControlName="activityStartDate" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </p>

                <p>
                  {{'table.end' | translate}}
                    <mat-form-field appearance="outline" class="modal-input">
                        <!-- <mat-label>{{data.activityEndDate  | date: "dd/MM/yyyy"}}: </mat-label> -->
                        <input data.activityEndDate matInput [matDatepicker]="picker2" formControlName="activityEndDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </p>

                <div class="space-bottom"></div>

                <button mat-button type="submit" class="modal-button" [disabled]="!editForm.valid">
                    {{'label.submit' | translate}}
                </button>
            </form>
        </div>

        <ng-template #forminfo>
            <div class="container">
              {{ post | json }}
            </div>
          </ng-template>
    </mat-dialog-content>
</div>
