<div style="width: 450px;">

<form [formGroup]="disabilityForm" (ngSubmit)="addDisability()" class>
    <p>
      <mat-form-field style="width: 90% !important; align-items: center;" appearance="outline">
        <mat-label >{{'label.select' | translate}}</mat-label>
        <select matNativeControl formControlName="disabledDescription" required>
          <option [ngValue]="undefined" disabled>{{'label.select' | translate}}</option>
          <option *ngFor="let disability of disabilities" [value]="disability.disabledDescription">{{ disability.disabledDescription }}
          </option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 90% !important; align-items: center;">
        <mat-label>Disability Ratio</mat-label>
        <input matInput type="number" formControlName="disabledRatio" required />
      </mat-form-field>
    </p>
    <button class="input-group" type="submit">Add</button>
  </form>
</div>
