


<div [ngClass]="loaded ? 'loaded-content' : 'loading-content'" >
<div class="row tab">
  <div class="p-mb-3">
    <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()"
      styleClass="p-button-text"></p-button>
    <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
    <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"
      styleClass="p-button-text"></p-button>
  </div>
  <p-table [value]="foods" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="foodName">{{'table.name' | translate}} <p-sortIcon field="foodName"></p-sortIcon>
        </th>
        <th pSortableColumn="weight">{{'table.weight' | translate}} <p-sortIcon field="weight">
          </p-sortIcon>
        </th>
        <th pSortableColumn="calorie">{{'table.calorie' | translate}} <p-sortIcon field="calorie"></p-sortIcon>
        </th>
        <th pSortableColumn="protein">{{'table.protein' | translate}} <p-sortIcon field="protein">
          </p-sortIcon>
        </th>
        <th pSortableColumn="oil">{{'table.oil' | translate}}<p-sortIcon field="oil">
          </p-sortIcon>
        </th>
        <th pSortableColumn="carbohydrate">{{'table.carbohydrate' | translate}}<p-sortIcon field="carbohydrate">
          </p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-foods>
      <tr>
        <td>{{ foods.foodName }}</td>
        <td>{{ foods.weight }}</td>
        <td>{{ foods.calorie }}</td>
        <td>{{ foods.protein }}</td>
        <td>{{ foods.oil }}</td>
        <td>{{ foods.carbohydrate }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>


</div>
  
<app-loading [ngClass]="loaded ? 'hidden-spinner' : 'display-spinner'"  ></app-loading>