<div class="row">
    <p>Calorie {{calorie}}g</p>
    <mat-progress-bar class="margin" [color]="color" [mode]="mode" [value]="cal_p"></mat-progress-bar>
    <p>Protein {{protein}}g</p>
    <mat-progress-bar class="margin" [color]="color" [mode]="mode" [value]="prot_p"></mat-progress-bar>
    <p>Oil  {{oil}}g</p>
    <mat-progress-bar class="margin" [color]="color" [mode]="mode" [value]="oil_p"></mat-progress-bar>
    <p>Carbohydrate {{carbohydrate}}g</p>
    <mat-progress-bar class="margin" [color]="color" [mode]="mode" [value]="carb_p"></mat-progress-bar>
    <p>Weight {{weight}}g</p>
    <mat-progress-bar class="margin" [color]="color" [mode]="mode" [value]="wei_p"></mat-progress-bar>
    <!-- <p></p>
    <mat-progress-bar class="margin" [color]="color" [mode]="mode" [value]="10"></mat-progress-bar> -->
</div>