<div class="row">
    <p>{{'table.calorie' | translate}} {{calorie}}g</p>
    <mat-progress-bar class="margin" [color]="color" [mode]="mode" [value]="cal_p"></mat-progress-bar>
    <p>{{'table.protein' | translate}} {{protein}}g</p>
    <mat-progress-bar class="margin" [color]="color" [mode]="mode" [value]="prot_p"></mat-progress-bar>
    <p>{{'table.oil' | translate}}  {{oil}}g</p>
    <mat-progress-bar class="margin" [color]="color" [mode]="mode" [value]="oil_p"></mat-progress-bar>
    <p>{{'table.carbohydrate' | translate}} {{carbohydrate}}g</p>
    <mat-progress-bar class="margin" [color]="color" [mode]="mode" [value]="carb_p"></mat-progress-bar>
</div>