<div class="container rounded bg-white">
  <div class="row">
    <div class="col-md-4 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5 image" src="../../../../../assets/user.jpg" />
      </div>
    </div>
    <div class="col-md-8 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
        </div>

        <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" class="form">
          <div class="row mt-2">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.name' | translate}}</mat-label>
                <input matInput formControlName="firstName" />
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.surname' | translate}}</mat-label>
                <input matInput formControlName="lastName" />
              </mat-form-field>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.email' | translate}}</mat-label>
                <input matInput formControlName="emailAddress" />
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.phoneNumber' | translate}}</mat-label>
                <input matInput formControlName="phoneNumber" />
              </mat-form-field>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.height' | translate}}</mat-label>
                <input matInput formControlName="height" />
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.weight' | translate}}</mat-label>
                <input matInput formControlName="weight" />
              </mat-form-field>
            </div>
          </div>


          <div class="row mt-3">
            <mat-form-field appearance="outline" class="birthdate">
              <mat-label>{{'label.birthdate' | translate}}</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birthDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </form>

        <div class="row mt-3">
          <div class="col-md-4">
            <div class="buttons">
              <button pButton pRipple type="button" class="p-button-rounded p-button-success" (click)="addIllness()">
                <a aria-hidden="true"> {{'profile.addIll' | translate}}</a>
              </button>
            </div>
          </div>

          <div class="col-md-4">
            <div class="buttons">
              <button pButton pRipple type="button" class="p-button-rounded p-button-success" (click)="addAllergy()">
                <a  aria-hidden="true"> {{'profile.addAll' | translate}}</a>
              </button>
            </div>
          </div>

          <div class="col-md-4">
            <div class="buttons">
              <button pButton pRipple type="button" class="p-button-rounded p-button-success" (click)="addDisability()">
                <a aria-hidden="true"> {{'profile.addDis' | translate}}</a>
              </button>
            </div>
          </div>

        </div>
        <button type="submit" class="submitButton">{{'label.submit' | translate}}</button>

      </div>
    </div>
  </div>
</div>

<p-dialog header="{{'profile.addIll' | translate}}" [(visible)]="illness" [dismissableMask]="true" [draggable]="false" [modal]="true" [appendTo]="'body'" [closeOnEscape] = "true" [blockScroll] = "true" [style]="{width: '50vw'}">
  <app-add-illness></app-add-illness>
</p-dialog>

<p-dialog header="{{'profile.addAll' | translate}}" [(visible)]="allergy" [dismissableMask]="true" [draggable]="false" [modal]="true" [appendTo]="'body'" [closeOnEscape] = "true" [blockScroll] = "true" [style]="{width: '50vw'}">
  <app-add-allergy></app-add-allergy>
</p-dialog>

<p-dialog header="{{'profile.addDis' | translate}}" [(visible)]="disabled" [dismissableMask]="true" [draggable]="false" [modal]="true" [appendTo]="'body'" [closeOnEscape] = "true" [blockScroll] = "true" [style]="{width: '50vw'}">
  <app-add-disability></app-add-disability>
</p-dialog>