.labels {
  font-size: 11px
}

.image{
  max-height: 300px !important;
  max-width: 450px !important;
}


.tab-button{
	border: none;
	background-color: transparent;
  }

.tab-button:hover{
  color: #009879;
}

.buttons{
  font-size: 150%;
  margin-top: 5%;
}

.row{
  background-color: #f1f1f1;
}
.container{
	width: 100%;
}
.birthdate{
	width: 93.5%;
}