.labels {
  font-size: 11px
}

.image{
  max-height: 225px !important;
  max-width: 337,5px !important;
}

.tab-button{
	border: none;
	background-color: transparent;
  }

.tab-button:hover{
  color: #009879 !important;
}

.buttons{
  font-size: 150%;
  margin-top: 5%;
}

.row{
  background-color: #f1f1f1;
}
.container{
	width: 100%;
}
.birthdate{
	width: 93.5%;
}
.submitButton{

  margin-top: 15%;
	border-radius: 25px;
	border: 1px solid #009879;
	background-color: #009879;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.submitButton:hover{
  border: 1px solid #00ecb0;
	background-color: #00d6a0;
}

.p-button-rounded{
  background-color: #009879;
  font-weight: bold;
}

.p-button-rounded:hover{
  background-color: #00d6a0 !important;
}
