<div class="container rounded bg-white">
  <div class="row">
    <div class="col-md-4 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5 image"
          src="../../../../../assets/user.jpg" />
      </div>
    </div>
    <div class="col-md-8 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h2 class="text-right">Edit Profile</h2>
        </div>
        <form [formGroup]="surveyForm" (ngSubmit)="onSubmit(surveyForm.value)" class="form">
          <div class="row mt-2">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.name' | translate}}</mat-label>
                <input matInput formControlName="firstName" />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.surname' | translate}}</mat-label>
                <input matInput formControlName="lastName" />
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.email' | translate}}</mat-label>
                <input matInput formControlName="emailAddress" />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.phoneNumber' | translate}}</mat-label>
                <input matInput formControlName="phoneNumber" />
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.height' | translate}}</mat-label>
                <input matInput formControlName="height" />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.width' | translate}}</mat-label>
                <input matInput formControlName="width" />
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.blood' | translate}}</mat-label>
                <select matNativeControl name="bloodGroup" formControlName="bloodGroup">
                  <option [ngValue]="undefined" disabled>{{'label.select' | translate}}</option>
                  <option class="bloodGroup" *ngFor="let blood of bloods" [value]="blood.value">{{ blood.viewValue }}
                  </option>
                </select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.smoking' | translate}}</mat-label>
                <select matNativeControl name="smoking" formControlName="smoking">
                  <option [ngValue]="undefined" disabled>{{'label.select' | translate}}</option>
                  <option *ngFor="let select of selects" [value]="select.value">
                    {{ select.viewValue }}
                  </option>
                </select>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.alcohol' | translate}}</mat-label>
                <select matNativeControl name="alcohol" formControlName="alcohol">
                  <option [ngValue]="undefined" disabled>{{'label.select' | translate}}</option>
                  <option *ngFor="let select of selects" [value]="select.value">{{ select.viewValue }}</option>
                </select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>{{'label.exercise' | translate}}</mat-label>
                <select matNativeControl name="exercise" formControlName="exercise">
                  <option [ngValue]="undefined" disabled>{{'label.select' | translate}}</option>
                  <option *ngFor="let select of selects" [value]="select.value">{{ select.viewValue }}</option>
                </select>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-3">
            <mat-form-field appearance="outline" class="birthdate">
              <mat-label>{{'label.birthdate' | translate}}</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birthdate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </form>

        <div class="row mt-3">
          <div class="col-md-6">
            <div class="buttons">
              <button class="tab-button" mat-icon-button>
                <i class="fa fa-medkit" aria-hidden="true"> Illness</i>
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="buttons">
              <button class="tab-button" mat-icon-button>
                <i class="fa fa-plus-square" aria-hidden="true"> Allergy</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>