<form [formGroup]="goalForm" (ngSubmit)="onSubmit()" >
  <div>
    <span class="p-float-label">
      <input type="number" pInputText formControlName="dailyCaloriIntake">
      <label for="float-input">Daily Calorie Intake</label>
    </span>

    <span class="p-float-label">
      <input type="number" pInputText formControlName="dailyCarbohydrateIntake">
      <label for="float-input">Daily Carbohydrate Intake</label>
    </span>
  </div>

  <br>

  <div>
    <span class="p-float-label">
      <input type="number" pInputText formControlName="dailyProteinIntake">
      <label for="float-input">Daily Protein Intake</label>
    </span>

    <span class="p-float-label">
      <input type="number" pInputText formControlName="dailyOilIntake">
      <label for="float-input">Daily Oil Intake</label>
    </span>
  </div>

  <br>

  <div>
    <span class="p-float-label">
      <input type="number" pInputText formControlName="dailyTargetStep">
      <label for="float-input">Daily Target Step</label>
    </span>

    <span class="p-float-label">
      <input type="number" pInputText formControlName="targetWeight">
      <label for="float-input">Target Weight</label>
    </span>
  </div>

  <br>

  <div>
    <span class="p-float-label">
      <input type="number" pInputText formControlName="dailyCaloriExpenditure">
      <label for="float-input">Daily Calorie Expenditure</label>
    </span>

    <span class="p-float-label">
      <input type="Date" pInputText formControlName="targetDate">
    </span>
  </div>
<br>
  <button type="submit"> <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>Create Goal</button>
</form>