<form [formGroup]="goalForm" (ngSubmit)="onSubmit()">
  <br>
  <div class="row">
    <p-dropdown [options]="goals" formControlName="goalType" optionLabel="goalType" [filter]="true" filterBy="name"
      [showClear]="true" placeholder="{{'label.select' | translate}}">
      <ng-template let-goal pTemplate="item">
        <div>
          <div>{{goal.name}}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <span style="margin-top: 5% !important;" class="p-float-label">
      <input type="number" pInputText formControlName="value" required>
      <label for="float-input">{{'label.value' | translate}}</label>
    </span>
  </div>
  <br><br>
  <div style="left: 30%; position: absolute">
    <button type="submit" class="modal-button" [disabled]="!goalForm.valid">
      <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i> {{'label.submit' | translate}}
    </button>
  </div>
  <br><br>
</form>