<!-- This page inactive due to the backend -->
 <!--  
<div class="row">
    <button (click)="priv = !priv">
        {{'settings.priv' | translate}}
    </button>
</div>
<div class="row">
    <button (click)="freeze()">
        {{'settings.freeze' | translate}}
    </button>
</div>
<div class="row">
    <button (click)="freeze()">
        {{'settings.delete' | translate}}
    </button>
</div>
<div class="row">
    <button (click)="logout()">
        {{'settings.logout' | translate}}
    </button>
</div>

<p-dialog header="{{'settings.priv' | translate}}" [(visible)]="priv" [dismissableMask]="true" [draggable]="false"
    [modal]="true" [appendTo]="'body'" [closeOnEscape]="true" [blockScroll]="true" [style]="{width: '50vw'}">
    <br>
    Foodfriend adına veri sorumlusu sıfatı ile ARD GRUP BİLİŞİM TEKNOLOJİLERİ A.Ş. (ARD BİLİŞİM) olarak, 6698 sayılı
    Kişisel Verilerin Korunması Kanunu (“KVKK”) m.10′ dan doğan aydınlatma yükümlülüğümüzü yerine getirmek amacıyla
    aşağıdaki açıklamaları üyelerimizin ve web-sitemizi ve/veya mobil uygulamalarımızı kullanan 3. kişilerin dikkatine
    sunarız.

    ARD BİLİŞİM olarak kişisel verilerinizin güvenliğine en üst düzeyde önem vererek, sizlere sunduğumuz tüm ürün ve
    hizmetlerimizde kişisel verilerinizin güvenliğinin ön planda olduğu bilinciyle faaliyetlerimize devam ettiğimizi
    belirtmek isteriz.

    ARD BİLİŞİM işbu Kişisel Verilerin Korunması Hakkında Açıklama metnini yürürlükteki mevzuatta yapılabilecek
    değişiklikler çerçevesinde her zaman güncelleme hakkını saklı tutar.

    07.04.2016 tarihli ve 29677 sayılı Resmi Gazete’de yayımlanan 6698 sayılı Kişisel Verilerin Korunması Kanunu (KVKK)
    uyarınca, veri sorumlusu sıfatını haiz şirketimizce elde edilmiş/edilecek ya da şirketimizce
    paylaştığınız/paylaşacağınız şahsınıza ait her türlü bilginin (kişisel veri), aşağıda açıklanan çerçevede ve anılan
    Kanunda öngörülen şekillerde şirketimizce işleneceğini ve bilgilerinizin otomatik olan ya da olmayan yollarla elde
    edilmesi, kaydedilmesi, depolanması, muhafaza edilmesi, değiştirilmesi, açıklanması, aktarılması, elde edilebilir
    hale
    getirilmesi de dâhil olmak üzere bilgileriniz üzerinde gerçekleştirilen her türlü işlemin “kişisel verilerin
    işlenmesi” anlamına geldiğini bilgilerinize sunarız.

    Kişisel verilerinizin işlemleriniz için kullanılması, özel hayatınızın gizliliği ve temel hak ve özgürlüklerinizin
    korunması temel prensibimizdir.
    <br>
    <b>KİŞİSEL VERİLERİNİZİN İŞLENME AMAÇLARI VE HUKUKİ SEBEPLERİ</b>
</p-dialog> 
-->