<div style="width: 100%; height: 100%;">
    <p></p>
    <div class="row counselee-short-info">
        <div class="col-3">
            <div class="counselee-img-div">

                <img (click)="editProfile()" class="profile-img" src="../../../../assets/user.jpg">
            </div>
            <div class="counselee-name">
                <p>
                    {{userName}}
                </p>

                <i class="fa fa-genderless" [hidden]="!genderless"></i>
                <i class="fa fa-mars" [hidden]="!male" aria-hidden="true"></i>
                <i class="fa fa-venus" [hidden]="!female" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-9">

            <div class="row info-div">
                <div class="col-6 ">
                    <p class="info" style="margin-top: 20%;">Weight: {{weight}}</p>
                    <p class="info">Height: {{height}}</p>
                    <p class="info">Age: {{age}}</p>
                </div>
                <div class="col-6">
                    <p class="info" style="margin-top: 20%;">Birthdate: {{birthdate | date: "dd/MM/yyyy" }}</p>
                    <p class="info">Email: {{email}}</p>
                    <p class="info">Phone: {{phone}}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
    <p [hidden]="!female">Pragnent: {{dummy}}</p>

    <div class="info-illness">
        <h1>Illnesses</h1>

        <div [hidden]="illnessInfo.hasIllness" class="ilnesses">
            <p>This counselee has no any important illnesses that you need to be aware of.</p>
        </div>

        <div [hidden]="!illnessInfo.hasIllness" class="row ilnesses">
            <p>Illness: {{dummy}}</p>
            <div class=" col " *ngFor="let illness of illnessInfo.illnessList; let i = index">
                <p>{{illness.illnessName}} : {{illness.illnessType}}</p>
            </div>
        </div>
    </div>

    <div class="info-allergy">
        <h1>Allergy</h1>

        <div [hidden]="allergyInfo.hasAllergy" class="allergies">
            <p>This counselee has no allergy that you need to be aware of.</p>
        </div>
        <div [hidden]="!allergyInfo.hasAllergy" class="row allergies">
            <p>Allergy: {{dummy}}</p>
            <div class=" col " *ngFor="let allergy of allergyInfo.allergyList; let i = index">
                {{allergy.allergyName}} : {{allergy.allergyType}}
            </div>
        </div>
    </div>



    <div class="row aim">
        <p>Aim: {{dummy}}</p>
    </div>
</div>