::ng-deep .scheduler_default_event_bar, ::ng-deep .scheduler_default_event_bar_inner{
    height: 8px;
  }
  ::ng-deep .scheduler_default_event_inner {
    top: 8px;
  }
  .calendar{
    width: 95%;
    margin-left: 3%;
  }
  daypilot-scheduler{
    border-radius: 10px !important;
  }